input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

a {
  text-decoration: underline;
}

.govuk-heading-xl {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.govuk-heading-s {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.continue-button-group {
  margin-top: 80px;
}
