<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <h1 class="govuk-heading-xl page-title">
    <div *ngIf="!resendActivationEmailMode; else elseBlock">{{ "REGISTRATION.REG_SUCCESS_HEADER" | translate }}</div>
    <ng-template #elseBlock>
      {{ "REGISTRATION.REG_SUCCESS_EMAIL_RESENT" | translate }}
    </ng-template>
  </h1>
  <div>
    <p *ngIf="!resendActivationEmailMode; else elseBlockResend" class="text-align"> {{ "REGISTRATION.REG_SUCCESS_PARA_1" | translate }} {{emailAddress}} {{ "REGISTRATION.REG_SUCCESS_PARA_2" | translate }}</p>
    <ng-template #elseBlockResend>
      <p class="text-align">
        {{ "REGISTRATION.REG_SUCCESS_PARA_3" | translate }} {{emailAddress}} {{ "REGISTRATION.REG_SUCCESS_PARA_2" | translate }}
      </p>
    </ng-template>
  </div>
  <br>
  <p><strong>{{ "REGISTRATION.REG_SUCCESS_PARA_4" | translate }}</strong></p>
  <p *ngIf="!resendActivationEmailMode"><a id="resendLink" class="navigation-text" href="javascript:;" (click)="resendActivationLink()">{{ "REGISTRATION.REG_SUCCESS_PARA_5" | translate }}</a></p>
  <p><a id="homeLink" class="navigation-text" href="https://www.crowncommercial.gov.uk">{{ "REGISTRATION.NOT_REG_RET_LINK" | translate }}</a></p>
</div>