<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <h1 class="govuk-heading-xl page-title">
    <div *ngIf="!resendActivationEmailMode; else elseBlock">Confirm your email address</div>
    <ng-template #elseBlock>
      Email resend confirmation
    </ng-template>
  </h1>
  <div>
    <p *ngIf="!resendActivationEmailMode; else elseBlockResend"> We've sent an email to {{emailAddress}} to confirm your
      address. Please click on the link in that email to
      continue.</p>
    <ng-template #elseBlockResend>
      <p>
        We've resent the activation email to {{emailAddress}} to confirm your address. Please click on the link in that
        email to
        continue.
      </p>
    </ng-template>
  </div>
  <br>
  <p><strong>The link in the email will become invalid after 1 hour and can only be clicked on once</strong></p>
  <p *ngIf="!resendActivationEmailMode"><a class="navigation-text" href="javascript:;" (click)="resendActivationLink()">If you have not received
      an email, please
      click here to resend</a></p>
  <p><a class="navigation-text" routerLink="/home">Return to Crown Commercial Service homepage</a></p>
</div>