.detail-text{
  font-size: 19px;
  margin-bottom: 30px;
  background-color: #f8f8f8
}

a{
  text-decoration: underline;
}

.card {
  padding: 16px;
  background-color: #f1f1f1;
  min-height: 100px;
  height: 100%;
  margin-top: 60px;
}
.card.card-help {
  float: right;
  min-width: 100px;
}

.card-help .card-title {
  font-family: "Helvetica-Bold", "Helvetica Bold", "Helvetica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #0B0C0C;
    text-align: left;
}

.card-help a {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  text-decoration: underline;
  color: #007194;
  text-align: left;
  line-height: 26px;
}

.govuk-link {
  color: #003078;
  text-decoration-color: rgb(0, 48, 120);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}