.detail-text{
  font-size: 19px;
  margin-bottom: 30px;
  background-color: #f8f8f8
}

a{
  text-decoration: underline;
  color: #005ea5;
  font-weight: 500;
  font-size: 16px;
}

.card {
  padding: 16px;
  background-color: #f1f1f1;
  min-height: 150px;
  height: 100%;
}
.card.card-help {
  height: auto;
  min-width: 100px;
  max-width: 300px;
  margin-left: auto;
}

.card-help .card-title {
  font-weight: 700;
  font-size: 20px;
}

.govuk-link:hover {
  color: #003078;
  text-decoration-color: rgb(0, 48, 120);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}
.content.flex {justify-content: space-between;flex-flow: wrap;display: flex;}

.content-left {width: 66.66%;}

.content-right {width: 33.3%;}