<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="content flex">
      <a id="returnHomeLink" class="navigation-text" href="https://www.crowncommercial.gov.uk"
        class="govuk-back-link">{{ "RETURN_TO_HOME" | translate }}</a>
    </div> 
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="content-flex">
      <div class="content-left">
        <div class="content flex">
          <h1 class="govuk-heading-xl page-title">{{ "CREATE_AN_ACCOUNT" | translate }}</h1>
          <p class="govuk-body-l">{{ "CREATE_AN_ACCOUNT_PARA" | translate }}
            <br>{{ "CREATE_AN_ACCOUNT_PARA_1" | translate }}
          </p>
          <br>
          <p><strong>{{ "CREATE_AN_ACCOUNT_BEFORE_START" | translate }}</strong></p>
          <p>{{ "CREATE_AN_ACCOUNT_PARA_2" | translate }} <strong>{{ "CREATE_AN_ACCOUNT_PARA_3" | translate }}</strong> {{ "CREATE_AN_ACCOUNT_PARA_4" | translate }}</p>
          <ul>
            <li>{{ "CREATE_AN_ACCOUNT_LIST_1" | translate }}</li>
            <li>{{ "CREATE_AN_ACCOUNT_LIST_2" | translate }}</li>
            <li>{{ "CREATE_AN_ACCOUNT_LIST_3" | translate }}</li>
            <li>{{ "CREATE_AN_ACCOUNT_LIST_4" | translate }}</li>
            <li>{{ "CREATE_AN_ACCOUNT_LIST_5" | translate }}</li>
            <li>{{ "CREATE_AN_ACCOUNT_LIST_6" | translate }}</li>
          </ul>
          <br />
          <p>{{ "CREATE_AN_ACCOUNT_PARA_5" | translate }}</p>
          <!-- <div class="govuk-inset-text">
            This service is also available <a class="navigation-text" href="javascript:;">in Welsh (Cymraeg)</a>.
          </div> -->
          <div class="govuk-details__text detail-text">
            <p><strong>{{ "CREATE_AN_ACCOUNT_BEFORE_START" | translate }}</strong></p>
            <p>{{ "CREATE_AN_ACCOUNT_PARA_6" | translate }}</p>
          </div>
    
          <button id="startNowButton" type="button"
            class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button govuk-button--start"
            data-module="govuk-button" (click)="onClick()">
            {{ "CREATE_AN_ACCOUNT_START_BTN" | translate }}
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
              viewBox="0 0 33 40" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="content-right">
        <div class="card card-help">
          <h2 class="card-title">{{ "CREATE_AN_ACCOUNT_GUIDE" | translate }}</h2>
          <a href="https://www.crowncommercial.gov.uk/public-procurement-gateway-guides" class="navigation-text"
            rel="noreferrer noopener" target="_blank">{{ "CREATE_AN_ACCOUNT_SETUPUP_INSTR" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>