.detail-text {
  font-size: 19px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
}

a {
  text-decoration: underline;
  color: #005ea5;
  font-weight: 500;
  font-size: 16px;
}

.govuk-link {
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
}

.card {
  padding: 16px;
  background-color: #f1f1f1;
  min-height: 150px;
  height: 100%;
}
.card.card-help {
  height: auto;
  min-width: 100px;
  max-width: 300px;
  margin-left: auto;
}

.card-help .card-title {
  font-weight: 700;
  font-size: 20px;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
.content-flex {
  justify-content: space-between;
  flex-flow: wrap;
  display: flex;
}
.content-left {
  width: 66.66%;
}
.content-right {
  width: 33.3%;
}

.govuk-button {
  margin-top: 40px;
}

a.govuk-button {
  height: auto;
}
.govuk-heading-xl  {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}