<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="content flex">
      <a href="javascript:;" (click)="goBack()" class="navigation-text govuk-back-link">{{ "REGISTRATION.BACK" | translate }}</a>
      <h1 class="govuk-heading-xl page-title">
        {{ "REGISTRATION.REG_ADD_WRONG_HEADER" | translate }}
      </h1>
      <p class="govuk-body-l">{{ "REGISTRATION.REG_ADD_WRONG_PARA" | translate }}</p>
      <div class="govuk-form-group">
        <button id="continueNotRegistered" type="button" class="govuk-button" data-module="govuk-button"
          (click)="onContinueClick()">{{ "REGISTRATION.CONTINUE_BTN" | translate }}</button>
      </div>
    </div>
  </div>
</div>