app-manage-organisation-registration-error-details-wrong {
  /*position: absolute;
  top: 252px;
  color: #000000;
  min-height: 690px;
  left: 4.4%;
  right: 5%;
  font-weight: 300;
  font-size: 12px;*/
  // font-family: Poppins;
  a {
    font-size: 16px;
  }
}
