.govuk-fieldset__legend + .govuk-hint {
    margin-top: -5px;
    color: black;
}

.navigation-text {
    margin-bottom: 100px;
    font-size: 19px;
    color: #005ea5;
}
.text-danger {
    color: #cf1818;
}
a {
    text-decoration: underline;
}
.text-danger:hover {
    color: #cf1818;
    text-decoration-color: #cf1818;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}
.header-bread-align {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  
  .manage-groups-bg{
    margin-top: 30px;
  }

  .disable {
    background: #dfe0e2;
  }

  .role_lable {
    font-weight: bold;
  }
  .description_para {
    position: relative;
    left: 16px;
  }
  .govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::before {
    top: 4px;
  }
  .govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::after {
    top: 15px;
  }
  .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
    opacity: 1;  
   } 
   .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label::after , .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label::before {
      opacity: 0.5;  
   }
   .govuk-item-custom-hide {
    min-height: 0px;
   }
 