body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: yellow;
    height: 40px;
  }
  
  .para_text {
    margin-top: 6px;
  }
  .para_text span {
    font-weight: 600;
  }