app-manage-organisation-registration-error-not-my-organisation {
  a {
    font-size: 19px;
    text-decoration: underline;
  }
}


hr {
  width: 160px;
  height: 0px;
  left: 30px;
  border: 2px solid #B1B4B6;
}

