<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <a href="javascript:;" (click)="goBack()" class="navigation-text govuk-back-link">{{ "REGISTRATION.BACK" | translate }}</a>
  <p class="govuk-body-l">{{ "REGISTRATION.REG_NOT_MY_DETAILS_PARA" | translate }}</p>
  <button  type="button" data-module="govuk-button" class="govuk-button govuk-button--secondary" (click)="Onclick()">{{ "REGISTRATION.REG_NOT_MY_DETAILS_BTN" | translate }}</button>
  <!-- <p><a id="searchWithDifferentIdLink" class="navigation-text" routerLink="/manage-org/register/search">Search with a different registry / ID</a></p> -->
  <!-- <div style="margin-top:30px;" class="form-group">
    <div style="display:inline-block">
      <hr>
    </div>
    <div style="display:inline-block; position: relative; width: 70px;height: 20px;">
      <span style="position: absolute; left: 25px;font-weight: 500;">Or</span>
    </div>
    <div style="display:inline-block">
      <hr>
    </div>
  </div> -->
  <!-- <p><a class="navigation-text" id="submitClaimLink" href="https://www.crowncommercial.gov.uk/contact" target="_blank">Contact CCS</a></p> -->
</div>