<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <p class="govuk-body-l">We have not been able to retrieve the organisation's details from Companies House, please either select an alternative registration service or contact the Service Desk</p>
  <p><a id="searchWithDifferentIdLink" routerLink="/manage-org/register/search"> Search with a different organisation ID</a></p>
  <p><a id="submitClaimLink" href="https://www.crowncommercial.gov.uk/contact" target="_blank">Contact CCS</a></p>
</div>
