<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <a href="javascript:;" (click)="goBack()" class="govuk-back-link">{{ 'BACK' | translate }}</a>
            <div>
                <h1 class="govuk-heading-xl page-title">
                    {{ 'REG_ORG' | translate }}</h1>
                <h2 class="govuk-heading-m">{{ 'REG_ORG_HEAD_1' | translate }}</h2>    
                <p class="govuk-body-l">{{ 'REG_ORG_PARA_1' | translate }}</p>

                <h2><strong>{{ 'REG_ORG_HEAD_2' | translate }}</strong></h2>
                <ul>
                    <li><b>{{ 'REG_ORG_LIST_1' | translate }}</b></li>
                    <li>{{ 'REG_ORG_LIST_2' | translate }}</li>
                    <li>{{ 'REG_ORG_LIST_3' | translate }}</li>
                    <li>{{ 'REG_ORG_LIST_4' | translate }}</li>
                </ul>
                <p>
                    {{ 'REG_ORG_PARA_2' | translate }}
                </p>
                <div class="govuk-form-group">
                    <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button"
                        (click)="onContinueNotRegistered()">{{ 'CONTINUE_BTN' | translate }}</button>
                </div>                
            </div>
        </div>
    </div>
</div>