<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="user-profile-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/home">
                            {{ "ADMINISTRATOR_DASHBOARD" | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/delegated-access">
                            Delegated access</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <span class="govuk-breadcrumbs__link">Confirm delegation</span>
                    </li>
                </ol>
            </div>
            <h1 class="govuk-heading-xl page-title">Confirm you want to delegate access to the user</h1>
            <div class="manage-groups-bg">
                <p>
                    You are giving permission for a delegated access to your Organisation to a user:
                </p>
            </div>
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <strong>
                        You are granting a delegated access to:
                    </strong>
                </h2>
                <div class="span-group govuk-!-margin-top-4">
                    <p class="govuk-body">
                        Name:<strong class="govuk-!-margin-left-2">Ajith M***</strong>
                    </p>
                    <p class="govuk-body">
                        Email address:<strong class="govuk-!-margin-left-2">ajithghas456@gmail.com</strong>
                    </p>
                    <p class="govuk-body">
                        User's Organisation:<strong class="govuk-!-margin-left-2">Dream guys</strong>
                    </p>
                    <p class="govuk-body">
                        MFA status:<strong class="govuk-!-margin-left-2">Enabled</strong>
                    </p>
                    <p class="govuk-body">
                        <strong>The user will have a delegated access from 05.08.2022 to 10.08.2022.</strong>
                    </p>
                    <div>
                        <p class="govuk-body">
                            <strong class="">The user will be given a below permissions.</strong>
                        </p>
                        <ul class="govuk-list">
                            <li>
                                Organisation Administrator - Dashboard Service
                            </li>
                            <li>
                                Organisation User - Dashboard Service
                            </li>
                            <li>
                                Manage Subscription - Dashboard Service
                            </li>
                            <li>
                                Organisation Users Support - Dashboard Service
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-button-group save-cancel-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" (click)="UpdateDelegateToUser()">
                Continue
            </button>
            <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </button>
        </div>
    </div>
</div>