<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="user-profile-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'ADMINISTRATOR_DASHBOARD' | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/manage-groups">{{ 'MANAGE_GROUPS' | translate
                            }}</a>
                    </li>
                    <li *ngIf="isEdit== true" class="govuk-breadcrumbs__list-item">
                        <a href="javascript:;" class="govuk-breadcrumbs__link" (click)="onCancelClick()">{{ 'EDIT_GROUP' | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <span *ngIf="isEdit== true" class="govuk-breadcrumbs__link">
                            {{'ADD_REMOVE_ROLES'| translate }}</span>
                        <span *ngIf="isEdit!= true" class="govuk-breadcrumbs__link">
                            {{ 'ADD_ROLES' | translate }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 *ngIf="isEdit== true" class="govuk-heading-xl page-title">
            {{ 'ADD_REMOVE_ROLES' | translate }} : {{groupName}}</h1>
        <h1 *ngIf="isEdit!= true" class="govuk-heading-xl page-title">{{ 'ADD_ROLES' | translate }}</h1>
        <h2 class="govuk-heading-m">
            {{ 'SELECT_ROLES_WANT_TO_ADD' | translate }}</h2>
        <div>
            <div class="govuk-form-group" id="search-form-group" [class.govuk-form-group--error]="searchSumbited && searchText ===''">
                <label class="govuk-label" for="search"> {{ 'SEARCH_FOR_ROLE' | translate }} </label>
                <span id="first-name-error" class="govuk-error-message"
                *ngIf="searchSumbited && searchText ===''">
                <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> Enter a role name
              </span>
                <app-search-box [(searchText)]="searchText" (onSearchClickEvent)="onSearchClick()">
                </app-search-box>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="user-table">
            <app-govuk-table [headerTextKeys]="rolesTableHeaders" [data]="roleGridSource"
                [dataKeys]="rolesColumnsToDisplay" [isCheckBoxVisible]="true"
                (checkBoxClickEvent)="onCheckBoxClickRow($event)" [isHyperLinkVisible]="false"
                [useClientPagination]="true"></app-govuk-table>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group save-cancel-button-group">
            <button type="button" (click)="onContinueClick()" class="govuk-button" data-module="govuk-button">
                {{ 'CONTINUE_BTN' | translate }}
            </button>
            <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                {{ 'CANCEL_GO_GROUP_BTN' | translate }}
            </button>
        </div>
    </div>
</div>