input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

h1{
  margin-top: 38px;
}

.contact-detail {
  margin-top: 38px;
}

.form-error-summary {
  margin-bottom: 10px;
}

input[type="email"] {
  background: #dfe0e2;
}

a {
  text-decoration: underline;
}

.user-group-table {
  width: 40%;
  max-height: 350px;
  overflow: auto;
}

.contact-table {
  width: 100%;
  max-height: 350px;
  overflow: auto;
}

.change-password-button {
  margin-top: 15px;
  margin-bottom: 60px;
}

.role-change-button {
  margin-top: 35px;
}

.contact-button-group {
  margin-top: 30px;
}

.save-cancel-button-group {
  margin-top: 80px;
}
.description_para {
  position: relative;
  left: 16px;
}
.role_lable {
  font-weight: bold;
}
.govuk-hints{
  color: black !important;
}

.govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::before {
  top: 4px;
}
.govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::after {
  top: 18px;
}