<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="user-profile-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'ADMINISTRATOR_DASHBOARD' | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/manage-groups">{{ 'MANAGE_GROUPS' | translate
                            }}</a>
                    </li>
                    <li *ngIf="isEdit==true" class="govuk-breadcrumbs__list-item">
                        <a href="javascript:;" class="govuk-breadcrumbs__link" (click)="onGoToEditGroupClick()">
                            {{'EDIT_GROUP' | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" >
                        <span class="govuk-breadcrumbs__link">Confirm roles for group {{ groupName }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 *ngIf="isEdit==true" class="govuk-heading-xl page-title">{{ 'CONFIRM_FOLLOWING_CHANGES_TO_GROUP' | translate
            }} {{groupName}}</h1>
        <h1 *ngIf="isEdit!=true" class="govuk-heading-xl page-title">{{ 'CONFIRM_ADD_FOLLOWING_ROLES_TO_GROUP' |
            translate }} {{groupName}}</h1>
    </div>
</div>

<div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s">{{ 'ROLES_ADDED_TO_GROUP' | translate }}</h2>
            <div *ngIf="addingRoles.length == 0">
                <p>{{'NONE'| translate}}
                <p>
            </div>
        </div>
    </div>
    <div *ngIf="addingRoles.length != 0" class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="user-table">
                <app-govuk-table [headerTextKeys]="rolesTableHeaders" [data]="addingRoles"
                    [dataKeys]="rolesColumnsToDisplay" [useClientPagination]="true">
                </app-govuk-table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isEdit==true">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s">{{ 'ROLES_REMOVED_FROM_GROUP' | translate }}</h2>
            <div *ngIf="removingRoles.length == 0">
                <p>{{'NONE'| translate}}
                <p>
            </div>
        </div>
    </div>
    <div *ngIf="removingRoles.length != 0" class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="user-table">
                <app-govuk-table [headerTextKeys]="rolesTableHeaders" [data]="removingRoles"
                    [dataKeys]="rolesColumnsToDisplay" [useClientPagination]="true">
                </app-govuk-table>
            </div>
        </div>
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group save-cancel-button-group">
            <button *ngIf="addingRoles.length != 0 || isEdit" type="submit" (click)="onConfirmClick()" class="govuk-button" data-module="govuk-button">
                {{ 'CONFIRM_BTN' | translate }}
            </button>
            <button *ngIf="addingRoles.length == 0 && !isEdit" type="submit" (click)="onConfirmClick()" class="govuk-button" data-module="govuk-button">
                Create group without roles
            </button>
            <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                Select different roles
            </button>
        </div>
    </div>
</div>