input,
label,
div,
h1,
h2,
a,
span,
select,
option,
button {
    font-family: Source Sans Pro !important;
}



a {
    text-decoration: underline !important;
}

.delete-link {
    font-size: 19px !important;
}

.contact-form-error {
    margin-bottom: 10px !important;
}

.save-cancel-button-group {
    margin-top: 80px !important;
}

.form-field-country {
    border-style: solid;
    border-width: 2px;
    height: 38px;
    padding-top: 5px;
    padding-left: 0px;
    display: inherit;
    width: fit-content;   
}

.form-field-country:focus
.form-field-country:active,
.mat-focused{
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;

  }

.custom-select{
    height: 30px !important;
}

.govuk-heading-xl {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
