input,
label,
div,
h1,
h2,
a,
span,
select,
option,
button {
    font-family: Source Sans Pro !important;
}

h1 {
    margin-top: 38px !important;
}

a {
    text-decoration: underline !important;
}

.delete-link {
    font-size: 19px !important;
}

.contact-form-error {
    margin-bottom: 10px !important;
}

.save-cancel-button-group {
    margin-top: 80px !important;
}

.form-field-country {
    border-style: solid;
    border-width: 2px;
    height: 38px;
    padding-top: 6px;
    padding-left: 3px;
}

