<div class="cookies_section">
<div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]" *ngIf="cookiesData.coockiebanner">
    <div class="govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">{{ "COMMON_COMPONENT.COOKIE_BANNER_HEADER" | translate }}</h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">{{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_1" | translate }}</p>
            <p class="govuk-body">{{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_2" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button value="accept" type="button" name="cookies" class="govuk-button" (click)="acceptCookies()">
          {{ "COMMON_COMPONENT.COOKIE_BANNER_ACCEPT_BTN" | translate }}
        </button>
        <button value="reject" type="button" name="cookies" class="govuk-button" (click)="rejectCookies()">
          {{ "COMMON_COMPONENT.COOKIE_BANNER_REJECT_BTN" | translate }}
        </button>
        <a class="govuk-link" routerLink="/cookies">{{ "COMMON_COMPONENT.COOKIE_BANNER_VIEW" | translate }}</a>
      </div>
    </div>
  </div>

                <!-- accepted additional cookies. -->

  <form *ngIf="cookiesData.acceptAnalyticsCookies">
    <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]" >
      <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-cookie-banner__content">
              <p class="govuk-body">{{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_3" | translate }} <a class="govuk-link" routerLink="/cookies"> {{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_4" | translate }}</a> {{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_5" | translate }}</p>
            </div>
          </div>
        </div>
        <div class="govuk-button-group">
          <button type="button"  class="govuk-button" (click)="hideCookies()">
            {{ "COMMON_COMPONENT.COOKIE_BANNER_HIDE_BTN" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>

                <!-- reject additional cookies. -->

  <form *ngIf="cookiesData.rejectAnalyticsCookies">
    <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on [name of service]" >
      <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-cookie-banner__content">
              <p class="govuk-body">{{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_6" | translate }} <a class="govuk-link" routerLink="/cookies">{{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_4" | translate }} </a> {{ "COMMON_COMPONENT.COOKIE_BANNER_PARA_5" | translate }}</p>
            </div>
          </div>
        </div>
        <div class="govuk-button-group">
          <button  type="button"  class="govuk-button" (click)="hideCookies()">
            {{ "COMMON_COMPONENT.COOKIE_BANNER_HIDE_BTN" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>