app-buyer-confirm {
    input[type=radio] {
        width: 150px;
        height: 50px;
        margin-right: 10px;
        top: 3px;
    }
    // input[type='radio']:checked:after {
    //     background-color: #ffa500;
    // }
}