<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex" *ngIf="org$ | async as o">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" routerLink="/home">{{
          "ADMINISTRATOR_DASHBOARD" | translate
        }}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" routerLink="/buyer/search"
          >Manage service eligibility</a
        >
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <span class="govuk-breadcrumbs__link"
          >Review service roles for the organisation</span
        >
      </li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl page-title">
    Review service roles for the organisation
  </h1>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        Is this organisation a verified buyer for CCS?
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input
            #isBuyerTrue
            class="govuk-radios__input"
            type="radio"
            id="chkyes"
            value="{{ o.rightToBuy }}"
            [checked]="o.rightToBuy == true"
            (click)="onSelect(true)"
          />
          <label for="chkyes" class="govuk-label govuk-radios__label">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input
            #isBuyerFalse
            class="govuk-radios__input"
            type="radio"
            id="chkno"
            value="{{ o.rightToBuy }}"
            [checked]="o.rightToBuy == false"
            (click)="onSelect(false)"
          />
          <label for="chkno" class="govuk-label govuk-radios__label">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div
    class="govuk-form-group"
    style="margin-top: 30px"
    *ngIf="verified == true"
  >
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        Roles for this organisation, select/unselect where appropriate
      </legend>
      <div class="govuk-checkboxes" *ngIf="orgEligableRoles$ | async as o">
        <ng-container *ngFor="let role of roles">
          <div
            class="govuk-checkboxes__item"
            *ngIf="
              role.subscriptionTypeEligibility === 0 &&
              role.tradeEligibility !== 0 &&
              role.orgTypeEligibility !== 0
            "
          >
            <input
              type="checkbox"
              [value]="role.roleId"
              [checked]="role.enabled"
              (change)="onChange($event, role?.enabled, role)"
              class="govuk-checkboxes__input"
              id="orgRoleControl_{{ role.roleId }}"
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              for="orgRoleControl_{{ role.roleId }}"
              >{{
                role.roleKey === "JAEGGER_SUPPLIER"
                  ? "eSourcing Service as a supplier"
                  : role.roleKey === "ACCESS_JAGGAER"
                  ? "eSourcing Service - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "CAT_USER"
                  ? "Contract Award Service (CAS) - click here to add service (Mandatory)"
                  : role.roleKey === "ACCESS_CAAAC_CLIENT"
                  ? "Contract Award Service (CAS) - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "JAEGGER_BUYER"
                  ? "eSourcing Service as a buyer"
                  : role.roleKey === "JAGGAER_USER"
                  ? "eSourcing Service - click here to add service (Mandatory)"
                  : role.roleName
              }}
              <span
                *ngIf="
                  role.roleKey != 'JAEGGER_SUPPLIER' &&
                  role.roleKey != 'ACCESS_JAGGAER' &&
                  role.roleKey != 'CAT_USER' &&
                  role.roleKey != 'ACCESS_CAAAC_CLIENT' &&
                  role.roleKey != 'JAEGGER_BUYER' &&
                  role.roleKey != 'JAGGAER_USER'
                "
                >- {{ role.serviceName }}</span
              ></label
            >
          </div>
        </ng-container>
      </div>
      <legend class="govuk-fieldset__legend" style="margin-top: 30px">
        Service roles for this organisation, select/unselect where appropriate
      </legend>
      <div class="govuk-checkboxes" *ngIf="orgEligableRoles$ | async as o">
        <ng-container *ngFor="let role of roles">
          <div
            class="govuk-checkboxes__item"
            *ngIf="
              role.subscriptionTypeEligibility === 1 &&
              role.tradeEligibility !== 0 &&
              role.orgTypeEligibility !== 0
            "
          >
            <input
              type="checkbox"
              [value]="role.roleId"
              [checked]="role.enabled"
              (change)="onChange($event, role?.enabled, role)"
              class="govuk-checkboxes__input"
              id="orgRoleControl_{{ role.roleId }}"
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              for="orgRoleControl_{{ role.roleId }}"
              >{{
                role.roleKey === "JAEGGER_SUPPLIER"
                  ? "eSourcing Service as a supplier"
                  : role.roleKey === "ACCESS_JAGGAER"
                  ? "eSourcing Service - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "CAT_USER"
                  ? "Contract Award Service (CAS) - click here to add service (Mandatory)"
                  : role.roleKey === "ACCESS_CAAAC_CLIENT"
                  ? "Contract Award Service (CAS) - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "JAEGGER_BUYER"
                  ? "eSourcing Service as a buyer"
                  : role.roleKey === "JAGGAER_USER"
                  ? "eSourcing Service - click here to add service (Mandatory)"
                  : role.roleName
              }}
              <span
              *ngIf="
                role.roleKey != 'JAEGGER_SUPPLIER' &&
                role.roleKey != 'ACCESS_JAGGAER' &&
                role.roleKey != 'CAT_USER' &&
                role.roleKey != 'ACCESS_CAAAC_CLIENT' &&
                role.roleKey != 'JAEGGER_BUYER' &&
                role.roleKey != 'JAGGAER_USER'
              "
              >- {{ role.serviceName }}</span
            >
            </label>
          </div>
        </ng-container>
      </div>
    </fieldset>
  </div>

  <div
    class="govuk-form-group"
    style="margin-top: 30px"
    *ngIf="verified == false"
  >
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        Roles for this organisation, select/unselect where appropriate
      </legend>
      <div class="govuk-checkboxes" *ngIf="orgEligableRoles$ | async as o">
        <ng-container *ngFor="let role of roles">
          <div
            class="govuk-checkboxes__item"
            *ngIf="
              role.subscriptionTypeEligibility === 0 &&
              role.tradeEligibility !== 1 &&
              role.orgTypeEligibility !== 0
            "
          >
            <input
              type="checkbox"
              [value]="role.roleId"
              [checked]="role.enabled"
              (change)="onChange($event, role.enabled, role)"
              class="govuk-checkboxes__input"
              id="orgRoleControl_{{ role.roleId }}"
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              *ngIf="role.serviceName == null"
              for="orgRoleControl_{{ role.roleId }}"
              >{{ role.roleName }}</label
            >
            <label
              class="govuk-label govuk-checkboxes__label"
              *ngIf="role.serviceName != null"
              for="orgRoleControl_{{ role.roleId }}"
              >{{
                role.roleKey === "JAEGGER_SUPPLIER"
                  ? "eSourcing Service as a supplier"
                  : role.roleKey === "ACCESS_JAGGAER"
                  ? "eSourcing Service - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "CAT_USER"
                  ? "Contract Award Service (CAS) - click here to add service (Mandatory)"
                  : role.roleKey === "ACCESS_CAAAC_CLIENT"
                  ? "Contract Award Service (CAS) - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "JAEGGER_BUYER"
                  ? "eSourcing Service as a buyer"
                  : role.roleKey === "JAGGAER_USER"
                  ? "eSourcing Service - click here to add service (Mandatory)"
                  : role.roleName
              }}
              <span
                *ngIf="
                  role.roleKey != 'JAEGGER_SUPPLIER' &&
                  role.roleKey != 'ACCESS_JAGGAER' &&
                  role.roleKey != 'CAT_USER' &&
                  role.roleKey != 'ACCESS_CAAAC_CLIENT' &&
                  role.roleKey != 'JAEGGER_BUYER' &&
                  role.roleKey != 'JAGGAER_USER'
                "
                >- {{ role.serviceName }}</span
              ></label
            >
          </div>
        </ng-container>
      </div>
      <legend class="govuk-fieldset__legend" style="margin-top: 30px">
        Service roles for this organisation, select/unselect where appropriate
      </legend>
      <div class="govuk-checkboxes" *ngIf="orgEligableRoles$ | async as o">
        <ng-container *ngFor="let role of roles">
          <div
            class="govuk-checkboxes__item"
            *ngIf="
              role.subscriptionTypeEligibility === 1 &&
              role.tradeEligibility !== 1 &&
              role.orgTypeEligibility !== 0
            "
          >
            <input
              type="checkbox"
              [value]="role.roleId"
              [checked]="role.enabled"
              (change)="onChange($event, role.enabled, role)"
              class="govuk-checkboxes__input"
              id="orgRoleControl_{{ role.roleId }}"
            />
            <label
              class="govuk-label govuk-checkboxes__label"
              *ngIf="role.serviceName == null"
              for="orgRoleControl_{{ role.roleId }}"
              >{{ role.roleName }}</label
            >
            <label
              class="govuk-label govuk-checkboxes__label"
              *ngIf="role.serviceName != null"
              for="orgRoleControl_{{ role.roleId }}"
              >{{
                role.roleKey === "JAEGGER_SUPPLIER"
                  ? "eSourcing Service as a supplier"
                  : role.roleKey === "ACCESS_JAGGAER"
                  ? "eSourcing Service - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "CAT_USER"
                  ? "Contract Award Service (CAS) - click here to add service (Mandatory)"
                  : role.roleKey === "ACCESS_CAAAC_CLIENT"
                  ? "Contract Award Service (CAS) - click here to add to dashboard (Mandatory)"
                  : role.roleKey === "JAEGGER_BUYER"
                  ? "eSourcing Service as a buyer"
                  : role.roleKey === "JAGGAER_USER"
                  ? "eSourcing Service - click here to add service (Mandatory)"
                  : role.roleName
              }}
              <span
              *ngIf="
                role.roleKey != 'JAEGGER_SUPPLIER' &&
                role.roleKey != 'ACCESS_JAGGAER' &&
                role.roleKey != 'CAT_USER' &&
                role.roleKey != 'ACCESS_CAAAC_CLIENT' &&
                role.roleKey != 'JAEGGER_BUYER' &&
                role.roleKey != 'JAGGAER_USER'
              "
              >- {{ role.serviceName }}</span
            ></label
            >
          </div>
        </ng-container>
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group" style="margin-top: 40px">
    <button
      type="button"
      class="govuk-button"
      data-module="govuk-button"
      (click)="onSubmitClick()"
    >
      Continue
    </button>
    <button
      type="button"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
  </div>
</div>