<div class="content flex">
  <h1 class="govuk-heading-xl">{{ "REGISTRATION.REG_ADD_IDEN_HEADER" | translate }}</h1>
  <div>
    <div>
      <fieldset *ngIf="organisation?.additionalIdentifiers.length > 0" class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {{ "REGISTRATION.REG_ADD_IDEN_PARA" | translate }}
        </legend>
        <div *ngFor="let ai of organisation?.additionalIdentifiers; let index = index" class="govuk-checkboxes"
          data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ 'chk-id-' + index }}" type="checkbox" checked="checked"
              (change)="onChange($event, ai)">
            <label class="govuk-label govuk-checkboxes__label" for="{{ 'chk-id-' + index }}">
              {{ ai?.id }} - {{ ai?.legalName }}
            </label>
            <div id="{{ 'chk-id-hint-' + index }}" class="govuk-hint govuk-checkboxes__hint">
              {{ getSchemaName(ai?.scheme) }}
            </div>
          </div>
        </div>
      </fieldset>
      <div class="govuk-form-group govuk-button-group button-group">
        <button type="button" class="govuk-button" data-module="govuk-button" (click)="onSubmit()">Continue</button>
        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
          (click)="goBack()">{{ "REGISTRATION.CONTINUE_BTN" | translate }}</button>
      </div>
    </div>
  </div>
</div>