<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex" style="height:650px;">
  <h1 class="govuk-heading-xl page-title">We found matching records for your organisation from the additional registries below</h1>
  <h2></h2>
  <div>
    <div>
      <h4 *ngIf="organisation?.additionalIdentifiers.length > 0">Please unselect any that you do not want to include in your registration:</h4>
      <p *ngFor="let ai of organisation?.additionalIdentifiers">
        <strong style="font-weight: 500;">{{ getSchemaName(ai?.scheme) }}</strong><br />
        <input type="checkbox" checked="checked" style="top: 1px; margin-right: 4px; position: relative; left: 1px;" (change)="onChange($event, ai)">{{ ai?.id }} - {{ ai?.legalName }}
      </p>
      <div class="govuk-grid-row">
        <div class="govuk-form-group govuk-button-group">
          <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onSubmit()">Continue</button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="goBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
  <!--<app-footer></app-footer>-->
</div>
