language: node_js
node_js:
- 12.16.1
addons:
  chrome: stable
cache:
  directories:
  - "./node_modules"
install:
  - npm install
before_script:
  - npm install -g @angular/cli

script: npm run build

deploy:
  - provider: cloudfoundry
    username: $username
    password: $password
    api: $api
    organization: $organisation
    space: uat
    manifest: /home/travis/build/Crown-Commercial-Service/conclave-ssso-ui/manifest.yml
    skip-cleanup: true
    edge: true
    on:
      branch: uat
before_install:
- openssl aes-256-cbc -K $encrypted_d8edde1099fa_key -iv $encrypted_d8edde1099fa_iv
  -in environment.ts.enc -out environment.ts -d

