language: node_js
dist: jammy
node_js:
- 16.10
addons:
  chrome: stable
cache:
  directories:
  - "./node_modules"
install:
- npm install
before_script:
- npm install -g @angular/cli
script: npm run build
after_script: ls
deploy:
- provider: script
  script: sh app.sh
  on:
    branch: "$TRAVIS_BRANCH"
  skip_cleanup: true
before_install:
- sh env.sh
- cat src/environments/environment.ts
- sh release.sh
before_deploy:
  - echo "install cloudfoundry cli"
  - wget  -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
  - echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
  - sudo apt-get -qq update
  - sudo apt --fix-broken install
  - sudo apt-get install cf8-cli
