language: node_js
node_js:
- 12.16.1
addons:
  chrome: stable
cache:
  directories:
  - "./node_modules"
install:
- npm install
before_script:
- npm install -g @angular/cli
script: npm run build
deploy:
- provider: cloudfoundry
  username: "$username"
  password: "$password"
  api: "$api"
  organization: "$organisation"
  space: "$TRAVIS_BRANCH"
  manifest: "/home/travis/build/Crown-Commercial-Service/conclave-ssso-ui/manifest.yml"
  skip-cleanup: true
  edge: true
  on:
    branch: "$TRAVIS_BRANCH"
before_deploy:
- sh app.sh
before_install:
- openssl aes-256-cbc -K $encrypted_294a22483132_key -iv $encrypted_294a22483132_iv
  -in ./src/environments/environment.ts.enc -out ./src/environments/environment.ts -d

