<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <p class="govuk-body-l">We could not find any matching records for your search. Please check the details and  try again</p>
  <p><a id="searchWithDifferentIdLink" class="navigation-text" routerLink="/manage-org/register/search">Search with a different organisation ID</a></p>
  <p><a id="submitClaimLink" class="navigation-text" href="https://www.crowncommercial.gov.uk/contact" target="_blank">Submit a claim form</a></p>
</div>
