<div class="site-footer">
  <div class="row">
    <div class="col-md-3">
      <img class="footer-logo" src="assets/img/logo/White/CCS_WHITE_SML_AW space-01.png" />
      <div style="display:none; position: inherit; left: 4.43%; top: 11.87%; width: 204px; height: 100px; color: #ffffff; font-size: 20px; font-weight: 300; border-left: 1px solid white; padding-left: 5px; padding-top: 40px; line-height: 21px;">
        <div>Crown<br />Commercial<br />Service</div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="footer-menu">
        <div style="display: flex;">
          <div style="font-size: 12px; width: 160px; text-decoration: none;margin-right: 20px;">
            <span style="font-weight: 500; font-size: 12px;">Sitemap</span>
            <div style="padding-top:5px; border-bottom: 1px solid #BFC1C3;"></div>
            <ul style="text-decoration-line: underline; letter-spacing: -0.07em; font-weight: 300; padding-top: 10px; list-style: none; padding-left: 0;">
              <li><a href="#" style="color:#ffffff;">Search agreements</a></li>
              <li><a href="#" style="color:#ffffff;">Search suppliers</a></li>
              <li><a href="#" style="color:#ffffff;">Upcoming deals</a></li>
              <li><a href="#" style="color:#ffffff;">Buy through CCS</a></li>
              <li><a href="#" style="color:#ffffff;">About CCs</a></li>
              <li><a href="#" style="color:#ffffff;">Contact us</a></li>
              <li><a href="#" style="color:#ffffff;">News</a></li>
              <li><a href="#" style="color:#ffffff;">Press Office</a></li>
            </ul>
          </div>
          <div style="font-size: 12px; width: 180px; text-decoration: none;margin-right: 20px;">
            <span style="font-weight: 500; font-size: 12px;">Quick links</span>
            <div style="padding-top:5px; border-bottom: 1px solid #BFC1C3;"></div>
            <ul style="text-decoration-line: underline; letter-spacing: -0.07em; font-weight: 300; padding-top: 10px; list-style: none; padding-left: 0;">
              <li><a href="#" style="color:#ffffff;">Purchasing platform</a></li>
              <li><a href="#" style="color:#ffffff;">Digital marketplace</a></li>
              <li><a href="#" style="color:#ffffff;">eMarketplace</a></li>
              <li><a href="#" style="color:#ffffff;">Energy</a></li>
              <li><a href="#" style="color:#ffffff;">Fleet</a></li>
              <li><a href="#" style="color:#ffffff;">Travel</a></li>
              <li><a href="#" style="color:#ffffff;">Contracts Finder</a></li>
              <li><a href="#" style="color:#ffffff;">eSourching</a></li>
              <li><a href="#" style="color:#ffffff;">Register for eSourching training</a></li>
              <li><a href="#" style="color:#ffffff;">Tenders Electronic Daily (TED)</a></li>
              <li><a href="#" style="color:#ffffff;">Submit your MI returns</a></li>
              <li><a href="#" style="color:#ffffff;">Service Status</a></li>
            </ul>
          </div>
          <div style="font-size: 12px; width: 220px; text-decoration: none;">
            <span style="font-weight: 500; font-size: 12px;">About and contact</span>
            <div style="padding-top:5px; border-bottom: 1px solid #BFC1C3;"></div>
            <ul style="text-decoration-line: underline; letter-spacing: -0.07em; font-weight: 300; padding-top: 10px; list-style: none; padding-left: 0;">
              <li><a href="#" style="color:#ffffff;">About CCS</a></li>
              <li><a href="#" style="color:#ffffff;">Contact CCS</a></li>
              <li><a href="#" style="color:#ffffff;">Make a complaint</a></li>
              <li><a href="#" style="color:#ffffff;">Careers</a></li>
              <li><a href="#" style="color:#ffffff;">Terms and conditions</a></li>
              <li><a href="#" style="color:#ffffff;">Cookie policy</a></li>
              <li><a href="#" style="color:#ffffff;">Corporate informaiton</a></li>
              <li><a href="#" style="color:#ffffff;">Privacy notice</a></li>
              <li><a href="#" style="color:#ffffff;">Accessibility</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
