input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

p {
    margin-top: 38px;
}

a{
  text-decoration: underline;
}

.navigation-text {
    font-size: 19px;
}

.help-support{
  margin-top: 30px;
  a{
    margin-bottom: 10px !important;
  }
}

.govuk-accordion.govuk-accordion-custom {
  border-bottom: 0;
}

.govuk-accordion.govuk-accordion-custom .govuk-accordion__section-header {
  border-bottom: 1px solid #bfc1c3;
  border-top: 0;
  padding-right: 0;
}

.govuk-accordion.govuk-accordion-custom .govuk-accordion__section {
  border-top: 0;
}

.govuk-accordion__section-heading.govuk-accordion__section-heading-custom {
  display: flex;
  color: #1d70b8;
  font-weight: 400;
  font-size: 20px;
  justify-content: space-between
}

.govuk-accordion__section-heading.govuk-accordion__section-heading-custom .govuk-accordion__section-button {
  font-weight: 400;
  font-size: 20px;
  width: auto;
}
.js-enabled .govuk-accordion.govuk-accordion-custom .govuk-accordion__section-header:hover {
  background-color: transparent;
}
.js-enabled .govuk-accordion__section-header:hover {
  background-color: red !important;
}
.govuk-accordion__section-heading-custom {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #1d70b8;
  padding: 20px 0;
  border-bottom: 1px solid #bfc1c3;
}

.govuk-accordion__section-heading-custom span {
  cursor: pointer;
}

.govuk-heading-xl {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.govuk-body-l {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}