<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <a routerLink="/manage-org/register/type" class="govuk-back-link">{{ "REGISTRATION.BACK" | translate }}</a>
  <h1 class="govuk-heading-xl page-title">{{ "REGISTRATION.REG_BUYER_TYPE_HERADER_1" | translate }}</h1>
  <h2 style="margin-bottom: 35px;">{{ "REGISTRATION.REG_BUYER_TYPE_HERADER_2" | translate }}</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="govuk-!-width-three-quarters">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="centralGovernmentRadioButton" name="buyerType" type="radio" value="Central Government" [(ngModel)]="defaultChoice">
                <label class="govuk-label govuk-radios__label" for="centralGovernmentRadioButton">
                  {{ "REGISTRATION.REG_BUYER_TYPE_LABLE_1" | translate }}
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="publicSectorRadioButton" name="buyerType" type="radio" value="Wider public sector/Local authority" [(ngModel)]="defaultChoice">
                <label class="govuk-label govuk-radios__label" for="publicSectorRadioButton">
                  {{ "REGISTRATION.REG_BUYER_TYPE_LABLE_2" | translate }}
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="charityRadioButton" name="buyerType" type="radio" value="Charity" [(ngModel)]="defaultChoice">
                <label class="govuk-label govuk-radios__label" for="charityRadioButton">
                  {{ "REGISTRATION.REG_BUYER_TYPE_LABLE_3" | translate }}
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="thirdSectorRadioButton" name="buyerType" type="radio" value="Third sector" [(ngModel)]="defaultChoice">
                <label class="govuk-label govuk-radios__label" for="thirdSectorRadioButton">
                  {{ "REGISTRATION.REG_BUYER_TYPE_LABLE_4" | translate }}
                  <span style="display: block; font-size: 14px; color: #6F777B;">{{ "REGISTRATION.REG_BUYER_TYPE_LABLE_5" | translate }}</span>
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button" (click)="onSubmit()">{{ "REGISTRATION.CONTINUE_BTN" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
