<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="user-profile-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'GROUPS.ADMINISTRATOR_DASHBOARD' | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/manage-groups">{{ 'GROUPS.MANAGE_GROUPS' | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <span *ngIf="isEdit==true" class="govuk-breadcrumbs__link">{{group.groupName}}</span>
                        <span *ngIf="isEdit!=true" class="govuk-breadcrumbs__link">{{ 'GROUPS.VIEW_GROUP' | translate}}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:;" *ngIf="isEdit!=true" (click)="onGoBackClick()" class="govuk-back-link back-button">{{ 'GROUPS.BACK' | translate }}</a>
        <h1 *ngIf="isEdit==true" class="govuk-heading-xl page-title">
            {{ 'GROUPS.GROUP_SEM :' | translate}} {{group.groupName}} </h1>
        <h1 *ngIf="isEdit!=true" class="govuk-heading-xl page-title">
            {{ 'GROUPS.VIEW_GROUP' | translate }} : {{group.groupName}} </h1>
    </div>
</div>

<div class="govuk-grid-row" *ngIf="isEdit==true">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group">
            <button type="button" (click)="onNameEditClick()" class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
                {{ 'GROUPS.CHANGE_GROUP_NAME_BTN' | translate }}
            </button>
        </div>
    </div>
</div>
<div class="top-margin">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s">{{ 'GROUPS.ROLES_FOR_GROUP' | translate }}</h2>
            <app-details [detailsData]="detailsData[0]"></app-details>
            <div *ngIf="group.roles.length == 0">
                <p>{{'GROUPS.NONE'| translate}}
                <p>
            </div>
        </div>
    </div>
    <div *ngIf="group.roles.length != 0" class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="user-table">
                <app-govuk-table [headerTextKeys]="rolesTableHeaders" [data]="group.roles"
                    [dataKeys]="roesColumnsToDisplay" [useClientPagination]="true">
                </app-govuk-table>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row" *ngIf="isEdit==true">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-button-group">
                <button type="button" (click)="onRoleEditClick()" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    {{ 'GROUPS.MANAGE_GROUP_ROLE_BTN' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="govuk-form-group" id="user-mfa-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-heading-s">
            {{ 'GROUPS.SEC_LEVEL' | translate }}
        </legend>
     <app-details [detailsData]="detailsData[1]"></app-details>
        <div class="govuk-form-group govuk-checkboxes__item" id="user-mfa-form-group">
            <input [attr.disabled]=true [checked]="group.mfaEnabled" class="govuk-checkboxes__input" id="mfaEnabled"
                formControlName="mfaEnabled" name="mfaEnabled" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="mfaEnabled">
                {{ 'GROUPS.ADD_SEC_DEG_USER' | translate }}
            </label>
        </div>
    </fieldset>
</div>

<div class="top-margin">
    <div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">{{ 'GROUPS.LIST_OF_USERS_GROUP' | translate }}</h2>
                <div *ngIf="group.users.length == 0">
                    <p>{{'GROUPS.NONE'| translate}}
                    <p>
                </div>
            </div>
        </div>
        <div *ngIf="group.users.length != 0" class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="user-table">
                    <app-govuk-table [headerTextKeys]="usersTableHeaders" [data]="group.users"
                        [dataKeys]="usersColumnsToDisplay" [useClientPagination]="true">
                    </app-govuk-table>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row" *ngIf="isEdit==true">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-button-group">
                <button type="button" (click)="onUserEditClick()" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    {{ 'GROUPS.MANAGE_USER_BTN' | translate }}
                </button>
            </div>
            <div>
                <a href="javascript:;" (click)="onDeleteClick()" class="navigation-text delete-link">{{ 'GROUPS.DELETE_GROUP' | translate }}</a>
            </div>
        </div>
    </div>
</div>