input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

.govuk-heading-xl {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

a {
  text-decoration: underline;
}

.back-button{
  text-decoration: none !important;
  color: #0b0c0c;
}

.top-margin{
  margin-top: 30px;
}

.delete-link {
  font-size: 19px;
}

.govuk-heading-s
{
    font-family: Source Sans Pro !important;
}

.govuk-hints {
  color: #0b0c0c;
}