app-manage-organisation-profile-registry-confirm-additional-identifiers {
  /*position: absolute;
  top: 252px;
  color: #000000;
  min-height: 1200px;
  left: 4.4%;
  right: 5%;
  font-weight: 300;
  font-size: 12px;*/
  // font-family: Poppins;
  // height:580px;
  color: #000000;
  label {
    font-size: 12px;
    font-weight: 400; 
  }
  h4 {
    color: #000000;
  }
  .brickendon-group input[type=radio] {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
  }
}
