a{
    text-decoration: underline;
}
.header-bread-align {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  input[type='text'] {
    background: #dfe0e2;
}


.role_lable {
  font-weight: bold;
}
.description_para {
  position: relative;
  left: 16px;
}
.govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::before {
  top: 4px;
}
.govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::after {
  top: 15px;
}
.govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity: 1;  
 } 
 .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label::after , .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label::before {
    opacity: 0.5;  
 }
 .govuk-item-custom-hide {
  min-height: 0px;
 }