input,
label,
div,
h1,
h2,
a,
span,
select,
option,
button {
    font-family: Source Sans Pro;
}

a {
    text-decoration: underline;
}

.delete-link {
    font-size: 19px;
}

h1 {
    margin-top: 38px;
}

.disabled {
    background: #dfe0e2;
}

.user-profile-form-error {
    margin-bottom: 10px;
}

.save-cancel-button-group {
    margin-top: 80px;
}
