<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'ADMINISTRATOR_DASHBOARD' | translate
                        }}</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" routerLink="/manage-users">{{ 'MANAGE_YOUR_USER_ACCOUNTS' |
                        translate
                        }}</a>
                </li>
                <li *ngIf="isEdit != true" class="govuk-breadcrumbs__list-item">
                    <span class="govuk-breadcrumbs__link"> {{ 'CREATE_NEW_USER_ACCOUNT' | translate }}</span>
                </li>
                <li *ngIf="isEdit == true" class="govuk-breadcrumbs__list-item">
                    <span class="govuk-breadcrumbs__link"> {{ 'EDIT_YOUR_USER_ACCOUNTS' | translate }}</span>
                </li>
            </ol>
        </div>

        <h1 *ngIf="isEdit != true" class="govuk-heading-xl page-title">{{ 'CREATE_NEW_USER_ACCOUNT' | translate }}</h1>
        <h1 *ngIf="isEdit == true" class="govuk-heading-xl page-title">{{ 'EDIT_YOUR_USER_ACCOUNTS' | translate }}</h1>

        <h2 *ngIf="isEdit == true" class="govuk-heading-m page-title">{{ 'RESET_PASSWORD_OR_DELETE_USER_ACCOUNTS' |
            translate }}</h2>

        <div class="govuk-error-summary user-profile-form-error" aria-labelledby="error-summary-title" role="alert"
            tabindex="-1" id="error-summary" data-module="govuk-error-summary"
            *ngIf="(formValid(formGroup) == false || mfaConnectionValidationError || mfaAdminValidationError || formGroup.hasError('identityProviderRequired')) && submitted">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                {{ 'ERROR_SUMMARY' | translate }}
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li *ngIf="submitted && formGroup.controls.firstName.errors?.required">
                        <a href="javascript:;" onClick="return false;" (click)="setFocus(0)">
                            {{'ERROR_FIRST_NAME' | translate }} </a>
                    </li>
                    <li *ngIf="submitted && formGroup.controls.lastName.errors?.required">
                        <a href="javascript:;" onClick="return false;" (click)="setFocus(1)">
                            {{'ERROR_LAST_NAME' | translate }}</a>
                    </li>
                    <li
                        *ngIf="submitted && (!formGroup.controls.firstName.errors?.required && !formGroup.controls.lastName.errors?.required) && (formGroup.controls.firstName.invalid || formGroup.controls.lastName.invalid)">
                        <a href="javascript:;" onClick="return false;" (click)="customFocum()">
                            {{ 'ENTER_NAME_WITHOUT_NUM_SPECIAL' | translate }}</a>
                    </li>
                    <li *ngIf="submitted && formGroup.controls.userName.hasError('required')">
                        <a href="javascript:;" onClick="return false;" (click)="setFocus(2)">
                            {{'ERROR_EMAIL_REQUIRED' | translate }}</a>
                    </li>
                    <li *ngIf="submitted && formGroup.controls.userName.hasError('alreadyExists')">
                        <a href="javascript:;" onClick="return false;" (click)="setFocus(2)">
                            {{'ERROR_USER_ALREADY_EXISTS' | translate }}</a>
                    </li>
                    <li *ngIf="submitted && mfaConnectionValidationError">
                        <a href="javascript:;" onClick="return false;" (click)="scrollToAnchor('user-mfa-form-group')">
                            {{ 'MFA_ENABLED_INVALID_CONNECTION'| translate }}</a>
                    </li>
                    <li *ngIf="submitted && mfaAdminValidationError">
                        <a href="javascript:;" onClick="return false;" (click)="scrollToAnchor('user-mfa-form-group')">
                            {{ 'MFA_ENABLED_ADMIN_USER'| translate }}</a>
                    </li>
                    <li
                        *ngIf="submitted && !formGroup.controls.userName.errors?.required && formGroup.controls.userName.invalid && !emailHaserror">
                        <a href="javascript:;" onClick="return false;" (click)="setFocus(2)">
                            {{ 'ERROR_INVALID_EMAIL'| translate }}</a>
                    </li>
                    <li *ngIf="submitted && formGroup.hasError('identityProviderRequired')">
                        <a href="javascript:;" onClick="return false;" (click)="setFocus(3)">
                            {{ 'ERROR_SIGN_IN_PROVIDER_REQUIRED'| translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form">
            <form class="ui form profile mb-two" [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
                <div class="ui segment">
                    <div class="govuk-form-group" id="user-title-form-group">
                        <label class="govuk-label" for="userTitle">{{ 'TITLE (Optional)' | translate }}</label>
                        <select class="govuk-select" id="userTitle" name="userTitle" formControlName="userTitle">
                            <option hidden disabled selected value style="display:none" [ngValue]='null'></option>
                            <option *ngFor="let item of userTitleArray" [ngValue]="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="govuk-form-group" id="first-name-form-group"
                        [class.govuk-form-group--error]="submitted && formGroup.controls.firstName.invalid">
                        <label class="govuk-label" for="first-name"> {{ 'FIRSTNAME' | translate }} </label>
                        <span id="first-name-error" class="govuk-error-message"
                            *ngIf="submitted && formGroup.controls.firstName.errors?.required">
                            <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{
                            'ERROR_FIRST_NAME' | translate }}
                        </span>
                        <span id="firstname-error" class="govuk-error-message"
                            *ngIf="submitted && !formGroup.controls.firstName.errors?.required && formGroup.controls.firstName.invalid">
                            <span class="govuk-visually-hidden">Error:</span>{{ 'ENTER_NAME_WITHOUT_NUM_SPECIAL' |
                            translate }}
                        </span>
                        <input #input formControlName="firstName" class="govuk-input" id="first-name" name="first-name"
                            type="text" [class.govuk-input--error]="submitted && formGroup.controls.firstName.invalid">
                    </div>
                    <div class="govuk-form-group" id="last-name-form-group"
                        [class.govuk-form-group--error]="submitted && formGroup.controls.lastName.invalid">
                        <label class="govuk-label" for="last-name"> {{ 'LASTNAME' | translate }} </label>
                        <span id="last-name-error" class="govuk-error-message"
                            *ngIf="submitted && formGroup.controls.lastName.errors?.required">
                            <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{
                            'ERROR_LAST_NAME'
                            | translate }}
                        </span>
                        <span id="lastname-error" class="govuk-error-message"
                            *ngIf="submitted && !formGroup.controls.lastName.errors?.required && formGroup.controls.lastName.invalid">
                            <span class="govuk-visually-hidden">Error:</span>{{ 'ENTER_NAME_WITHOUT_NUM_SPECIAL' |
                            translate }}
                        </span>
                        <input #input formControlName="lastName" class="govuk-input" id="last-name" name="last-name"
                            type="text" [class.govuk-input--error]="submitted && formGroup.controls.lastName.invalid">
                    </div>
                    <div class="govuk-form-group" id="user-name-form-group" [class.govuk-form-group--error]="submitted && (formGroup.controls.userName.invalid
                        || formGroup.controls.userName.hasError('alreadyExists'))">
                        <label class="govuk-label" for="email">{{ 'EMAIL' | translate }}</label>
                        <span id="user-name-error" class="govuk-error-message"
                            *ngIf="submitted && formGroup.controls.userName.hasError('required')">
                            <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span>
                            {{'ERROR_EMAIL_REQUIRED' | translate }}
                        </span>
                        <span id="user-name-error" class="govuk-error-message"
                            *ngIf="submitted && !formGroup.controls.userName.errors?.required && formGroup.controls.userName.invalid  && !emailHaserror">
                            <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span>
                            {{ 'ERROR_INVALID_EMAIL'| translate }}
                        </span>
                        <span id="user-name-error" class="govuk-error-message"
                            *ngIf="submitted && formGroup.controls.userName.hasError('alreadyExists')">
                            <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span>
                            {{ 'ERROR_USER_ALREADY_EXISTS'| translate }}
                        </span>
                        <input #input [readonly]="isEdit == true" [class.disabled]="isEdit == true"
                            formControlName="userName" class="govuk-input" id="email" name="email" type="email"
                            size="20" value="" autocomplete="email" spellcheck="false"
                            (input)="validateEmailLength($event)" [class.govuk-input--error]="(submitted && formGroup.controls.userName.invalid)
                            || formGroup.controls.userName.hasError('alreadyExists')">
                    </div>
                    <div class="govuk-form-group" id="user-mfa-form-group"
                        [class.govuk-form-group--error]="submitted && (mfaConnectionValidationError || mfaAdminValidationError)">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-heading-s">
                                Security Level
                            </legend>
                            <app-details [detailsData]="detailsData[0]"></app-details>
                            <span id="mfa-error-con" class="govuk-error-message label-detail-text-gap"
                                *ngIf="submitted && mfaConnectionValidationError">
                                <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span>
                                {{ 'MFA_ENABLED_INVALID_CONNECTION'| translate }}
                            </span>
                            <span id="mfa-error-admin" class="govuk-error-message label-detail-text-gap"
                                *ngIf="submitted && mfaAdminValidationError">
                                <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span>
                                {{ 'MFA_ENABLED_ADMIN_USER'| translate }}
                            </span>
                            <div class="govuk-checkboxes__item label-detail-text-gap">
                                <input class="govuk-checkboxes__input" id="mfachkBox" formControlName="mfaEnabled"
                                    [attr.disabled]="isAutoDisableMFA == true ? true : null" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="mfachkBox">
                                    Additional security using digital device
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group" id="user-group-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-heading-s">
                                {{ 'GROUPS'| translate }} (Optional)
                            </legend>
                            <app-details [detailsData]="detailsData[1]"></app-details>
                            <div *ngIf="orgGroups.length == 0">
                                <p>{{'NONE'| translate}}
                                <p>
                            </div>
                            <div *ngIf="orgGroups.length > 0" class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item" *ngFor="let orgGroup of orgGroups; let i=index">
                                    <input class="govuk-checkboxes__input"
                                        id="{{'orgGroupControl_' + orgGroup.groupId}}"
                                        [formControlName]="'orgGroupControl_' + orgGroup.groupId" type="checkbox"
                                        value="hmrc">
                                    <label class="govuk-label govuk-checkboxes__label"
                                        for="{{'orgGroupControl_' + orgGroup.groupId}}">
                                        {{orgGroup.groupName}}
                                    </label>
                                    <a class="navigation-text" href="javascript:;" *ngIf="hasGroupViewPermission"
                                        (click)="onGroupViewClick(orgGroup.groupId)">
                                        {{'VIEW_DETAILS' | translate}}</a>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="govuk-form-group" id="user-role-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-heading-s">
                                {{ 'ROLES'| translate }}
                            </legend>
                            <app-details [detailsData]="detailsData[2]"></app-details>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item" *ngFor="let orgRole of orgRoles; let i=index">
                                    <input class="govuk-checkboxes__input" id="{{'orgRoleControl_' + orgRole.roleId}}"
                                        [attr.disabled]="isEdit && orgRole.roleKey === 'ORG_DEFAULT_USER' ? true : null"
                                        [formControlName]="'orgRoleControl_' + orgRole.roleId" type="checkbox"
                                        (ngModelChange)="onUserRoleChecked(orgRole, $event)" value="hmrc">
                                    <label *ngIf="orgRole.serviceName == null"
                                        class="govuk-label govuk-checkboxes__label"
                                        for="{{'orgRoleControl_' + orgRole.roleId}}">
                                        {{orgRole.roleName}}
                                    </label>
                                    <label *ngIf="orgRole.serviceName != null"
                                        class="govuk-label govuk-checkboxes__label"
                                        for="{{'orgRoleControl_' + orgRole.roleId}}">
                                        {{orgRole.roleName}} - {{orgRole.serviceName}}
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="govuk-form-group" id="signin-provider-form-group"
                        [class.govuk-form-group--error]="submitted && formGroup.hasError('identityProviderRequired')">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-heading-s">
                                {{ 'SIGN_IN_PROVIDER'| translate }}
                            </legend>
                            <span>
                                A sign in provider gives users the option to use a different service to sign in
                            </span>
                            <span id="group-error" class="govuk-error-message label-detail-text-gap"
                                *ngIf="submitted && formGroup.hasError('identityProviderRequired')">
                                <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span>
                                {{'ERROR_SIGN_IN_PROVIDER_REQUIRED' | translate }}
                            </span>

                            <div class="govuk-checkboxes label-detail-text-gap">
                                <div class="govuk-checkboxes__item"
                                    *ngFor="let identityProvider of identityProviders; let i=index">
                                    <input #input class="govuk-checkboxes__input"
                                        id="{{'signInProviderControl_' + identityProvider.id}}"
                                        [formControlName]="'signInProviderControl_' + identityProvider.id"
                                        type="checkbox" value="idp">
                                    <label class="govuk-label govuk-checkboxes__label"
                                        for="{{'signInProviderControl_' + identityProvider.id}}">
                                        {{identityProvider.name}}
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="govuk-button-group save-cancel-button-group">
                        <button type="submit" class="govuk-button" [disabled]="!formChanged" data-module="govuk-button">
                            {{ 'SAVE_BTN' | translate }}
                        </button>
                        <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
                            data-module="govuk-button">
                            {{ 'CANCEL_BTN' | translate }}
                        </button>
                    </div>

                    <button *ngIf="isEdit == true && userProfileResponseInfo.detail.canChangePassword" type="button"
                        (click)="onResetPasswordClick()" class="govuk-button govuk-button--secondary"
                        data-module="govuk-button">
                        {{ 'RESET_USER_PASSWORD_BTN' | translate }}
                    </button>

                    <div *ngIf="isEdit==true">
                        <a href="javascript:;" (click)="onDeleteClick()" class="navigation-text delete-link">{{
                            'DELETE_USER'
                            | translate }}</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>