<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <a href="javascript:;" (click)="goBack()" class="navigation-text govuk-back-link">{{ 'REGISTRATION.BACK' | translate }}</a>
            <h1 class="govuk-heading-xl page-title">
                {{ 'REGISTRATION.NOT_REG_HEADER_1' | translate }}
            </h1>
            <p class="govuk-body-l">{{ 'REGISTRATION.NOT_REG_PARA_1' | translate }}
            </p>
            <div style="background-color: #f8f8f8;" class="govuk-inset-text">

                <h2> {{ 'REGISTRATION.NOT_REG_HEADER_2' | translate }}</h2>
                <p>
                    <b>{{ 'REGISTRATION.NOT_REG_PARA_2' | translate }}</b>{{ 'REGISTRATION.NOT_REG_PARA_3' | translate }}<b>{{ 'REGISTRATION.NOT_REG_PARA_4' | translate }}</b>
                </p>
                <p>
                    {{ 'REGISTRATION.NOT_REG_PARA_5' | translate }}
                </p>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-radios">
                    <div class="govuk-radios__item" id="orgAdminRadioSelection">
                        <input class="govuk-radios__input" type="radio" id="orgAdminRadioButton" value="useradmin"
                            [(ngModel)]="adminSelectionMode" />
                        <label for="orgAdminRadioButton" class="govuk-label govuk-radios__label">
                            {{ 'REGISTRATION.NOT_REG_LABLE_1' | translate }}
                        </label>
                    </div>
                    <div class="govuk-radios__item" id="nominateAdminRadioSelection">
                        <input class="govuk-radios__input" type="radio" id="nominateAdminRadioButton" value="nominateadmin"
                            [(ngModel)]="adminSelectionMode" />
                        <label for="nominateAdminRadioButton" class="govuk-label govuk-radios__label">
                            {{ 'REGISTRATION.NOT_REG_LABLE_2' | translate }}
                        </label>
                    </div>
                    <div class="govuk-radios__item" id="unknownAdminRadioSelection">
                        <input class="govuk-radios__input" type="radio" id="unknownAdminRadioButton" value="unkownadmin"
                            [(ngModel)]="adminSelectionMode" />
                        <label for="unknownAdminRadioButton" class="govuk-label govuk-radios__label">
                            {{ 'REGISTRATION.NOT_REG_LABLE_3' | translate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="govuk-form-group">
                <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button"
                    (click)="onContinueClick()">{{ 'REGISTRATION.CONTINUE_BTN' | translate }}</button>
            </div>
            <p><a id="homeLink" class="navigation-text" href="https://www.crowncommercial.gov.uk">{{ 'REGISTRATION.NOT_REG_RET_LINK' | translate }}</a></p>
        </div>
    </div>
</div>