<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="javascript:;" class="govuk-breadcrumbs__link" routerLink="/home">{{
                            "MANAGE_MY_ACC.ADMINISTRATOR_DASHBOARD" | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" *ngIf="!decodedData.IsUser">
                        <a href="javascript:;" class="govuk-breadcrumbs__link" routerLink="/profile">{{
                            "MANAGE_MY_ACC.MANAGE_MY_ACCOUNT" | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" *ngIf="decodedData.IsUser">
                        <a class="govuk-breadcrumbs__link" routerLink="/manage-users">{{
                            "MANAGE_MY_ACC.MANAGE_YOUR_USER_ACCOUNTS" | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <span class="govuk-breadcrumbs__link">{{
                            "MANAGE_MY_ACC.RESET_MY_ADD_SEC" | translate
                            }}</span>
                    </li>
                </ol>
            </div>
            <div *ngIf="!decodedData.IsUser">
                <h1 class="govuk-heading page-title">
                    {{ "MANAGE_MY_ACC.CONFIRM_RESET_ADD_SEC" | translate }}
                </h1>
            </div>
            <div *ngIf="decodedData.IsUser">
                <h1 class="govuk-heading page-title">
                    {{ "MANAGE_MY_ACC.CONFIRM_RESET_ADD_SEC_FOR" | translate }}
                    {{ decodedData.userName }}.
                </h1>
            </div>
            <div class="govuk-button-group save-cancel-button-group">
                <button type="submit" data-module="govuk-button" class="govuk-button" (click)="navigateTosuccess()">
                    {{ "MANAGE_MY_ACC.SAVE_CONTINUE_BTN" | translate }}
                </button>
                <button type="button" data-module="govuk-button" class="govuk-button govuk-button--secondary"
                    (click)="OnCancel()">
                    {{ "MANAGE_MY_ACC.CANCEL_BTN" | translate }}
                </button>
            </div>
            <br />
        </div>
    </div>
</div>