input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

input[type=radio] {
  width: 300px;
  height: 50px;
  margin-right: 10px;
  top: 3px;
}

.box-input {
  clear: both;
  border-left: 2px solid #8f8f8f;
  padding-left: 20px;
  margin-left: -20px;
  .text-input{
    margin-left: 15px;
  }
}

h1{
  margin-top: 38px;
}
.input-text-group span {
  display: inline-block;
  position: relative;
}

.custom-field input[type="text"]{
  max-width: 50px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label[for="input1"]
{
    display:none;
}
label[for="input2"]
{
    display:none;
}
label[for="input3"]
{
    display:none;
}