input,
label,
div,
h1,
h2,
th,
td,
a,
span,
p,
button {
  font-family: Source Sans Pro;
}

.govuk-heading-xl {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.govuk-body {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
a {
  text-decoration: underline;
}
