input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

a{
  text-decoration: underline;
}

.pagination-area {
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    font-size: 19px;
    margin-right: 10px;
    a {
      text-decoration: none;
    }
  }
}

.active {
  cursor: default;
  color: #6f777b;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: #6f777b;
}


// th {
//   font-style: normal;
//   font-weight: 600;
//   font-size: 19px;
//   line-height: 24px;
// }

// td {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 19px;
//   line-height: 25px;
// } 