<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="content flex">
      <a href="javascript:;" (click)="goBack()" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl page-title">Create your administrator account</h1>
      <p class="govuk-body-l">As you are the first person registering the organisation, you will be the administrator
        for your organisation’s account</p>
      <p style="padding-top:10px;">Alternatively, you can <a id="nominateLink" class="navigation-text"
          routerLink="/nominate">nominate a colleague to register and
          become an administrator</a></p>
      <br>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <form class="govuk-!-width-three-quarters" [class.error]="!formValid(formGroup)" [formGroup]="formGroup">
            <div class="govuk-form-group" *ngIf="formValid(formGroup) == false && submitted">
              <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title"
                role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    <a onClick="return false;" (click)="setFocus(0)" href="javascript:;"
                      *ngIf="formGroup.controls['firstName'].hasError('required')">
                      <li>Enter your first name</li>
                    </a>
                    <a onClick="return false;" (click)="setFocus(1)" href="javascript:;"
                      *ngIf="formGroup.controls['lastName'].hasError('required')">
                      <li>Enter your last name</li>
                    </a>
                    <a onClick="return false;" (click)="setFocus(2)" href="javascript:;"
                      *ngIf="formGroup.controls['email'].hasError('required')">
                      <li>Enter your email address</li>
                    </a>
                    <a onClick="return false;" (click)="setFocus(2)" href="javascript:;"
                      *ngIf="formGroup.controls['email'].hasError('email')">
                      <li>Enter an email address in the correct format, like name@example.com</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="govuk-form-group"
              [class.govuk-form-group--error]="submitted && formGroup.controls.title.invalid" [hidden]="true">
              <label class="govuk-label" for="title">Title</label>
              <span id="title-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.title.invalid">
                <span class="govuk-visually-hidden">Error:</span>Select your title
              </span>
              <select class="govuk-select" id="title" name="title" formControlName="title"
                [class.govuk-select--error]="submitted && formGroup.controls.title.invalid">
                <option *ngFor="let item of userTitleEnum | enumToArray" [ngValue]="item">{{
                  userTitleEnum[item] }}</option>
              </select>
            </div> -->
            <div class="govuk-form-group"
              [class.govuk-form-group--error]="submitted && formGroup.controls.firstName.invalid">
              <label class="govuk-label" for="firstName">{{ 'FIRSTNAME' | translate }}</label>
              <span id="firstname-error" class="govuk-error-message"
                *ngIf="submitted && formGroup.controls.firstName.invalid">
                <span class="govuk-visually-hidden">Error:</span>Enter your first name
              </span>
              <input #input class="govuk-input" id="firstName" formControlName="firstName" maxlength="100" name="firstName"
                size="20" type="text" value="" autocomplete="given-name"
                [class.govuk-input--error]="submitted && formGroup.controls.firstName.invalid">
            </div>
            <div class="govuk-form-group"
              [class.govuk-form-group--error]="submitted && formGroup.controls.lastName.invalid">
              <label class="govuk-label" for="lastName">{{ 'LASTNAME' | translate }}</label>
              <span id="lastname-error" class="govuk-error-message"
                *ngIf="submitted && formGroup.controls.lastName.invalid">
                <span class="govuk-visually-hidden">Error:</span>Enter your last name
              </span>
              <input #input class="govuk-input" id="lastName" formControlName="lastName" maxlength="100" name="lastName"
                size="20" type="text" value="" autocomplete="family-name"
                [class.govuk-input--error]="submitted && formGroup.controls.lastName.invalid">
            </div>
            <div class="govuk-form-group"
              [class.govuk-form-group--error]="submitted && formGroup.controls.email.invalid">
              <label class="govuk-label" for="email">{{ 'EMAIL' | translate }}</label>
              <span id="email-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.email.invalid">
                <span class="govuk-visually-hidden">Error:</span>Enter your email
              </span>
              <input #input class="govuk-input" id="email" formControlName="email" maxlength="100" name="email" size="20"
                type="text" value="" autocomplete="email"
                [class.govuk-input--error]="submitted && formGroup.controls.email.invalid">
            </div>
            <div class="govuk-form-group">
              <button id="continueButton" type="submit" class="govuk-button" data-module="govuk-button"
                (click)="onSubmit(formGroup)">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>