a{
    text-decoration: underline;
 }
  
  .navigation-text 
  {
      margin-bottom: 100px;
      font-size: 19px;
  }
  .govuk-input-custom
  {
  width: 235px;
  height: 8px;
  top: 682px;
  left: 190px;
  padding: 8px;
  border: 2px;
  gap: 10px;

  }