app-manage-organisation-profile-registry-delete {
  /*position: absolute;
  top: 252px;
  color: #000000;
  min-height: 690px;
  left: 4.4%;
  right: 5%;
  font-weight: 300;
  font-size: 12px;*/
  // font-family: Poppins;
  a {
    font-size: 16px;
  }
}

.govuk-heading-xl {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.para_custom {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}