<div class="user-profile-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" routerLink="/home">{{
                    "ADMINISTRATOR_DASHBOARD" | translate
                    }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a href="javascript:;" class="govuk-breadcrumbs__link" routerLink="/profile">{{ "MANAGE_MY_ACCOUNT" |
                    translate }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <span class="govuk-breadcrumbs__link">{{
                    "CONTACT_YOUR_ADMIN" | translate
                    }}</span>
            </li>
        </ol>
    </div>
    <br />
    <h1 class="govuk-heading-xl page-title">
        {{ "CONTACT_AN_ADMIN" | translate }}
    </h1>
    <div class="manage-groups-bg">
        <p>Use this list to find the administrators in your organisation.</p>
    </div>
    <div class="table-scroll">
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">Email address</th>
                <th scope="col" class="govuk-table__header">Role</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row" *ngFor="let adminDetail of adminDetails">
                <td class="govuk-table__cell">
                    {{ adminDetail.firstName }}
                </td>
                <td class="govuk-table__cell">
                    {{ adminDetail.lastName }}
                </td>
                <td class="govuk-table__cell">
                    <a class="navigation-text" (click)="openEmailWindow(adminDetail.email)" role="link">
                        {{ adminDetail.email }}
                    </a>
                </td>
                <td class="govuk-table__cell">Admin</td>
                <td class="govuk-table__cell">
                    <a class="navigation-text" (click)="openEmailWindow(adminDetail.email)" role="link" tabindex="0">
                        Email
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>