<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <a href="javascript:;" (click)="goBack()" class="govuk-back-link">{{ 'REGISTRATION.BACK' | translate }}</a>
            <div>
                <h1 class="govuk-heading-xl page-title">
                    {{ 'REGISTRATION.REG_DUBLICATE_HEADER' | translate }}</h1>
                <p class="govuk-body-l">
                    {{ 'REGISTRATION.REG_DUBLICATE_PARA' | translate }}
                    </p>
                <app-cii-options (onOrgSeleceted)="onOrgSelected($event)"></app-cii-options>
            </div>
        </div>
    </div>
</div>