input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
    font-family: Source Sans Pro;
}

p {
    margin-top: 38px;
}

a {
    text-decoration: underline;
}

.navigation-text {
    margin-bottom: 100px;
    font-size: 19px;
}
