input,
label,
div,
h1,
h2,
a,
span,
select,
option,
button {
    font-family: Source Sans Pro;
}

h1 {
    margin-top: 38px;
}

a {
    text-decoration: underline;
}

.delete-link {
    font-size: 19px;
}

.contact-form-error {
    margin-bottom: 10px;
}

.save-cancel-button-group {
    margin-top: 80px;
}
label[for="country-search-box"]
{
    display:none;
}
.box-input {
    clear: both;
    border-left: 2px solid #8f8f8f;
    padding-left: 35px;
    margin-left: -20px;
    .text-input{
      margin-left: 15px;
    }
  }
  .unwanted_lable {
    color: white;
  }