<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" routerLink="/home">
            {{ 'ADMINISTRATOR_DASHBOARD' | translate}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" routerLink="/manage-org/profile">{{ 'MANAGE_YOUR_ORGANISATION' | translate
            }}</a>
        </li>
        <li *ngIf="siteId != 0" class="govuk-breadcrumbs__list-item">
          <a href="javascript:;" class="govuk-breadcrumbs__link" (click)="onCancelClick()">{{ 'EDIT_SITE' | translate
            }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <span *ngIf="isEdit!=true" class="govuk-breadcrumbs__link">{{ 'ADD_ANOTHER_CONTACT' | translate
            }}</span>
          <span *ngIf="isEdit==true" class="govuk-breadcrumbs__link">{{ 'EDIT_CONTACT_DETAILS' | translate
            }}</span>
        </li>
      </ol>
    </div>
    <h1 *ngIf="isEdit!=true" class="govuk-heading-xl page-title">{{ 'ADD_ANOTHER_CONTACT' | translate }}</h1>
    <h1 *ngIf="isEdit==true" class="govuk-heading-xl page-title">{{ 'EDIT_CONTACT_DETAILS' | translate }}</h1>
    <div class="govuk-error-summary contact-form-error" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      id="error-summary" data-module="govuk-error-summary" *ngIf="!formValid(formGroup) && submitted">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ 'ERROR_SUMMARY' | translate }}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngIf="submitted && formGroup.hasError('inSufficient')">
            <a href="javascript:;" onClick="return false;" (click)="setFocus(0)"> {{
              'ERROR_INSUFFICIENT_CONTACT_DETAILS' | translate }}</a>
          </li>
          <li *ngIf="submitted && !formGroup.controls.email.errors?.required && formGroup.controls.email.invalid">
            <a href="javascript:;" onClick="return false;" (click)="setFocus(1)"> {{
              'ERROR_INVALID_EMAIL' | translate }} </a>
          </li>
          <li *ngIf="submitted && formGroup.controls['phone'].invalid">
            <a href="javascript:;" onClick="return false;" (click)="setFocusForIntlTelComponent('phone')"> {{
                'ERROR_INVALID_PHONE_NUMBER' | translate }} </a>
        </li>
        <li *ngIf="submitted && formGroup.controls['fax'].invalid">
            <a href="javascript:;" onClick="return false;" (click)="setFocusForIntlTelComponent('fax')"> {{
                'ERROR_INVALID_FAX_NUMBER' | translate }} </a>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="form contact-form">
      <form class="ui form login mb-two" [class.error]="!formValid(formGroup)" (submit)="onSubmit(formGroup)"
        [formGroup]="formGroup">
        <div class="ui segment">
          <div class="govuk-form-group" id="web-form-group">
            <label class="govuk-label" for="contactReason"> {{ 'CONTACT_REASON' | translate }} </label>
            <select class="govuk-select" id="contactReason" name="contactReason" formControlName="contactReason">
              <option hidden disabled selected value style="display:none"></option>
              <option *ngFor="let c of contactReasons" [ngValue]="c.key">{{ c.key }}</option>
            </select>
          </div>
          <div class="govuk-form-group" id="name-form-group"
            [class.govuk-form-group--error]="submitted && formGroup.hasError('inSufficient')">
            <label class="govuk-label" for="name"> {{ 'CONTACT_NAME' | translate }} </label>
            <span id="name-error" class="govuk-error-message" *ngIf="submitted && formGroup.hasError('inSufficient')">
              <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{
              'ERROR_INSUFFICIENT_CONTACT_DETAILS' | translate }}
            </span>
            <input #input formControlName="name" class="govuk-input" id="name" name="name" type="text"
              [class.govuk-input--error]="submitted && formGroup.hasError('inSufficient')">
          </div>
          <div class="govuk-form-group" id="email-form-group"
            [class.govuk-form-group--error]="submitted && formGroup.controls.email.hasError('email')">
            <label class="govuk-label" for="email"> {{ 'EMAIL' | translate }} </label>
            <span id="email-error" class="govuk-error-message"
              *ngIf="submitted && formGroup.controls.email.hasError('required')">
              <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{
              'ERROR_INVALID_EMAIL'
              | translate }}
            </span>
            <span class="govuk-error-message" *ngIf="submitted && formGroup.controls.email.hasError('email')">
              <span class="govuk-visually-hidden">Error:</span>{{
              'ERROR_USERNAME_INCORRECT_FORMAT' | translate }}
            </span>
            <input #input formControlName="email" class="govuk-input" id="email" name="email"
            size="20" type="email" value="" autocomplete="email" spellcheck="false"
            maxlength="256"
              [class.govuk-input--error]="submitted && formGroup.controls.email.hasError('email')">
          </div>
          <div class="govuk-form-group" id="phone-form-group"
            [class.govuk-form-group--error]="submitted && formGroup.controls['phone'].invalid">
            <label class="govuk-label" for="phone"> {{ 'TELEPHONE_NUMBER' | translate }} </label>
            <span id="email-error" class="govuk-error-message"
              *ngIf="submitted && formGroup.controls['phone'].invalid">
              <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> 
              {{'ERROR_INVALID_PHONE_NUMBER'| translate }}
            </span>
            <ngx-intl-tel-input
              [cssClass]="submitted && formGroup.controls['phone'].invalid ? 'govuk-input govuk-input--error' : 'govuk-input'"
              [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
              [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false" [phoneValidation]="true" [separateDialCode]="separateDialCode" [maxLength]="'15'"
              [numberFormat]="PhoneNumberFormat.International" [inputId]="'phone'" name="phone" formControlName="phone">
            </ngx-intl-tel-input>
          </div>
          <div class="govuk-form-group" id="mobile-form-group"
          [class.govuk-form-group--error]="submitted && formGroup.controls['mobile'].invalid">
          <label class="govuk-label" for="fax"> {{ 'MOBILE_NUMBER' | translate }} </label>
          <span id="email-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls['mobile'].invalid">
            <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> 
            {{ 'ERROR_INVALID_MOBILE_NUMBER' | translate }}
          </span>
          <ngx-intl-tel-input
            [cssClass]="submitted && formGroup.controls['mobile'].invalid ? 'govuk-input govuk-input--error' : 'govuk-input'"
            [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
            [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="false" [phoneValidation]="true" [separateDialCode]="separateDialCode" [maxLength]="'15'"
            [numberFormat]="PhoneNumberFormat.International" [inputId]="'mobile'" name="mobile" formControlName="mobile">
          </ngx-intl-tel-input>
        </div>
          <div class="govuk-form-group" id="fax-form-group"
            [class.govuk-form-group--error]="submitted && formGroup.controls['fax'].invalid">
            <label class="govuk-label" for="fax"> {{ 'FAX' | translate }} </label>
            <span id="email-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls['fax'].invalid">
              <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> 
              {{ 'ERROR_INVALID_FAX_NUMBER' | translate }}
            </span>
            <ngx-intl-tel-input
              [cssClass]="submitted && formGroup.controls['fax'].invalid ? 'govuk-input govuk-input--error' : 'govuk-input'"
              [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
              [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false" [phoneValidation]="true" [separateDialCode]="separateDialCode" [maxLength]="'15'"
              [numberFormat]="PhoneNumberFormat.International" [inputId]="'fax'" name="fax" formControlName="fax">
            </ngx-intl-tel-input>
          </div>
          <div class="govuk-form-group" id="web-form-group">
            <label class="govuk-label" for="web"> {{ 'WEB_URL' | translate }} </label>
            <input formControlName="webUrl" class="govuk-input" id="web" name="web" type="text">
          </div>
          <div class="govuk-button-group save-cancel-button-group">
            <button type="submit" class="govuk-button" [disabled]="!formChanged" data-module="govuk-button">
              {{'SAVE_BTN' | translate }}
            </button>
            <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
              data-module="govuk-button">
              {{ 'CANCEL_BTN' | translate }}
            </button>
          </div>
          <a href="javascript:;" *ngIf="isEdit==true && !isAssignedContact" (click)="onDeleteClick()" class="navigation-text delete-link">{{
            'DELETE_CONTACT'
            | translate }}</a>
          <a href="javascript:;" *ngIf="isEdit==true && isAssignedContact" (click)="onUnassignClick()" class="navigation-text delete-link">{{
            'UNASSIGN_CONTACT'
            | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>