input,
label,
div,
h1,
h2,
a,
span,
select,
option,
button {
    font-family: Source Sans Pro;
}

h1 {
    margin-top: 38px;
}

a {
    text-decoration: underline;
}

.delete-link {
    font-size: 19px;
}

.contact-form-error {
    margin-bottom: 10px;
}

.save-cancel-button-group {
    margin-top: 80px;
}
label[for="country-search-box"]
{
    display:none;
}