<div class="content flex" [@slide]="(sideNavVisible$ | async) ? 'close' : 'open'">
    <div *ngIf="operation === operationEnum.PasswordChanged">
        <p class="govuk-body-l">{{ 'AUTH_FAILED_FRO_PASSWORD_CHANGE' | translate }}</p>
        <a href="javascript:;" class="navigation-text" (click)="onNavigateToSignInClick()"> {{ 'SING_IN_AGAIN' | translate }} </a>
    </div>
    <br>
    <div *ngIf="operation === operationEnum.UserCreate">
        <p class="govuk-body-l">{{ 'THE_USER' | translate }}{{ userName }}{{ messageKey | translate }}</p>
        <a href="javascript:;" class="navigation-text" (click)="onNavigateToManageUserClick()"> {{ 'MANAGE_YOUR_USER_ACCOUNTS' | translate
        }}</a>
    </div>
    <br>
</div>