<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-xl page-title">Nominate a colleague to register your organisation</h1>
  <h2>Filling in this form will invite your selected colleague to register your<br /> organisation with CCS, and become an administrator</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="govuk-!-width-three-quarters" [class.error]="!formValid(formGroup)" [formGroup]="formGroup">
        <div class="govuk-form-group" *ngIf="formValid(formGroup) == false && submitted">
          <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <a *ngIf="formGroup.controls['firstName'].hasError('required')" href="#" onClick="return false;" (click)="setFocus(0)"><li>Enter the nominee's first name</li></a>
                <a *ngIf="formGroup.controls['lastName'].hasError('required')" href="#" onClick="return false;" (click)="setFocus(1)"><li>Enter the nominee's last name</li></a>
                <a *ngIf="formGroup.controls['email'].hasError('required')" href="#" onClick="return false;" (click)="setFocus(2)"><li>Enter the nominee's email address</li></a>
                <a *ngIf="formGroup.controls['email'].hasError('email')" href="#" onClick="return false;" (click)="setFocus(2)"><li>Enter an email address in the correct format, like name@example.com</li></a>
              </ul>
            </div>
          </div>
        </div>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.firstName.invalid">
          <label class="govuk-label" for="firstName">{{ 'FIRSTNAME' | translate }}</label>
          <span id="firstname-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.firstName.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter the nominee's first name
          </span>
          <input class="govuk-input" #input id="firstName" formControlName="firstName" maxlength="100" name="firstName" size="20" type="text" value="" autocomplete="first name" [class.govuk-input--error]="submitted && formGroup.controls.firstName.invalid">
        </div>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.lastName.invalid">
          <label class="govuk-label" for="lastName">{{ 'LASTNAME' | translate }}</label>
          <span id="lastname-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.lastName.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter the nominee's last name
          </span>
          <input class="govuk-input" #input id="lastName" formControlName="lastName" maxlength="100" name="lastName" size="20" type="text" value="" autocomplete="last name" [class.govuk-input--error]="submitted && formGroup.controls.lastName.invalid">
        </div>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.email.invalid">
          <label class="govuk-label" for="email">{{ 'EMAIL' | translate }}</label>
          <span id="email-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.email.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter the nominee's email
          </span>
          <input class="govuk-input" #input id="email" formControlName="email" maxlength="100" name="email" size="20" type="text" value="" autocomplete="email" [class.govuk-input--error]="submitted && formGroup.controls.email.invalid">
        </div>
        <div class="govuk-form-group">
          <button type="submit" class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onSubmit(formGroup)">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
