mat-toolbar {
    display: flex;
    align-items: center;
}

.flex-stretch {
    flex: 1 0 auto;
}

.content {
    padding: 16px;
    min-height: 100vh;
}

mat-card {
    max-width: 400px;
}

.mlp-app-shell-parent {
    font-size: 16px;
    height: 44px;
    line-height: 42px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: #323232;
    border: 1px solid #000;
    padding: 0 10px;
    color: #ced0d3;
    overflow: hidden;
}

.mlp-sidenav-menu {
    z-index: 5000;
    position: absolute;
    left: 0;
    width: 200px;
    height: calc(100% - 44px);
    padding: 10px 0;
    box-shadow: 2px 0 5px -2px #000;
    display: contents;
}

.mlp-app-shell-parent > * {
    display: inline;
}

span.mlp-app-logo {
    margin-right: 9px;
}

.mlp-app-shell-vertical-divide {
    border-right: 1px solid #ced0d3;
    width: 1px;
    margin: 0 9px;
    height: 20px;
}

.mlp-app-right-align {
    float: right;
}

.mlp-app-branding {
    margin-right: 15px;
}

.mlp-app-tabs {
    // border:1px solid #45484d;
    // background:#1a1e24 linear-gradient(to top, rgba(255,255,255, 0.01961) 0%, rgba(255,255,255, 0.01961) 40%, rgba(255,255,255, 0.12941) 100%);
    height: 100%;
    min-width: 100px;
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
    margin-right: 1px;
    color: #469bd4;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mlp-app-tab.selected {
    color: #ced0d3;
    background: #45484d
        linear-gradient(
            to top,
            rgba(255, 255, 255, 0.01961) 0%,
            rgba(255, 255, 255, 0.01961) 40%,
            rgba(255, 255, 255, 0.12941) 100%
        ) !important;
}

.mlp-app-tab.selected:hover {
    color: #fff;
}

.mlp-app-tab:hover {
    color: #ced0d3;
    background: #2e223a
        linear-gradient(
            to top,
            rgba(255, 255, 255, 0.01961) 0%,
            rgba(255, 255, 255, 0.01961) 40%,
            rgba(255, 255, 255, 0.12941) 100%
        );
}

.mlp-app-tab .ant-dropdown-trigger {
    color: #469bd4 !important;
}

.mlp-app-tab.selected .ant-dropdown-trigger {
    color: #ced0d3 !important;
}

.mlp-app-hamburger {
    margin-right: 10px;
}

.mlp-sidenav-trigger {
    margin-right: 10px;
}

.mlp-sidenav-link.selected,
.mlp-sidenav-link:hover {
    color: #fff;
    background: rgb(0, 126, 184);
}

.mlp-sidenav-link.selected > a,
.mlp-sidenav-link:hover > a {
    color: #fff;
}

.mlp-sidenav-link {
    padding: 0 10px;
    cursor: pointer;
}

.mlp-app-shell-icon {
    cursor: pointer;
}

.mlp-tab-dropdown-trigger {
    border: none;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: rgb(47, 47, 47);
}

.amt-menu-submenu-title {
    font-size: 12px !important;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default;
}

.center {
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    flex-shrink: 0;
    flex-grow: 0;
    background: #9b1a47;
    padding: 3px 5px;
    width: 100%;
}

.header-link {
    a {
        color: #ffffff !important;
    }
    a:focus {
        background-color: #ffdd00;
    }
}

.right-content {
    text-align: end;
}

.footer-global:after {
    height: 20rem;
}

.govuk-footer__meta-item {
    margin-bottom: -15px;
}

.body-content {
    min-height: 353px;
    margin: 40px 30px;
    display: block;
}

// Commented out after pre-prod change to telephone/fax length
// Keep this if needed to override ngx-intl-tel-input style
// override the width of ngx-intl-tel-input fields used in telephone and fax inputs
// :host ::ng-deep .iti {
//     width: 100%;
// }

// .logo {
//     height: 32px;
//     background: rgba(255, 255, 255, 0.2);
//     margin: 16px;
//   }

//   nz-header {
//     background: #fff;
//     padding: 0;
//   }

//   nz-content {
//     margin: 0 16px;
//   }

//   nz-breadcrumb {
//     margin: 16px 0;
//   }

//   .inner-content {
//     padding: 24px;
//     background: #fff;
//     min-height: 360px;
//   }

//   nz-footer {
//     text-align: center;
//   }
.govuk-custom-form-group {
    margin-right: auto;
    display: flex;
    gap: 40px;
}
.govuk-custom-form-group button img {
    max-width: 100%;
}

.govuk-custom-form-group button {
    background: #0b828b url(/assets/img/icon-search-white.png) no-repeat center;
    width: 56px;
    height: 100%;
    background-size: 19px 19px;
    border-radius: 0;
    cursor: pointer;
}

.govuk-custom-form-group .govuk-input__suffix {
    padding: 0;
    border: 0;
}

.govuk-custom-form-group .govuk-input {
    border: 0;
    color: #000;
    padding-right: 60px;
}

.govuk-custom-form-group .govuk-label {
    text-align: left;
    color: #fff;
}
.govuk-custom-form-group .govuk-input__wrapper {
    position: relative;
    width: 100%;
}

.govuk-custom-form-group .govuk-input__suffix {
    position: absolute;
    right: 0;
    z-index: 2;
}
.govuk-custom-form-group .govuk-input:focus {
    box-shadow: inset 0 0 0;
}

.linked_icon {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z'/></svg>") center center no-repeat;
    background-size: contain;
    filter: invert(1)
}
.twitter_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z'/></svg>") center center no-repeat;
    background-size: contain;
    filter: invert(1)
}
.header_logo {
    background: url(../assets/img/logo/White/CCS_WHITE_SML_AW.png) no-repeat;
    width: 8.75rem;
    height: 116px;
    background-size: contain;
    display: block;
}
.header-global .logo {
    min-height: 116px;
}
/* This class provides visually hidden text for accessibility */
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}  