input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

h1{
  margin-top: 38px;
}

.contact-detail {
  margin-top: 38px;
}

.form-error-summary {
  margin-bottom: 10px;
}

input[type="email"] {
  background: #dfe0e2;
}

a {
  text-decoration: underline;
}

.user-group-table {
  width: 40%;
  max-height: 350px;
  overflow: auto;
}

.contact-table {
  width: 100%;
  max-height: 350px;
  overflow: auto;
}

.change-password-button {
  margin-top: 15px;
  margin-bottom: 60px;
}

.role-change-button {
  margin-top: 35px;
}

.contact-button-group {
  margin-top: 30px;
}

.save-cancel-button-group {
  margin-top: 80px;
}

.govuk-heading-s
{
    font-family: Source Sans Pro !important;
}
.card {
  padding: 16px;
  background-color: #f1f1f1;
  min-height: 150px;
  height: 100%;
}
.card.card-help {
  height: auto;
  min-width: 100px;
  max-width: 300px;
  margin-left: auto;
}

.card-help .card-title {
  font-weight: 700;
  font-size: 20px;
}

.card-help a {
  color: #005ea5;
  font-weight: 500;
  font-size: 16px;
}
.content.flex {
  justify-content: space-between;
  flex-flow: wrap;
  display: flex;
}
.content-left {
  width: 66.66%;
}
.content-right {
  width: 33.3%;
}
table,
th,
td {
  border: 1px solid black;
}
th {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}
td {
  font-size: 16px;
  font-weight: 400;
}
hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.roles_padding {
  padding-left: 30px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.custom-table{
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}
.table_caption{
    font-size: 20px;
    font-weight: 500;
}
table {
    margin-top: 10px !important;
}
.litrel_space{
    white-space: nowrap;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.column_one_space{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.listing li {
    font-size: 16px;
    font-weight: 400;
}

.description_para {
  position: relative;
  left: 16px;
}
.role_lable {
  font-weight: bold;
}
.govuk-hints{
  color: black !important;
}

.govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::before {
  top: 4px;
}
.govuk-item-custom .govuk-checkboxes__input + .govuk-checkboxes__label::after {
  top: 18px;
}
.govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity: 1;  
 } 
 .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label::after , .govuk-checkboxes-custom-input .govuk-checkboxes__input:disabled + .govuk-checkboxes__label::before {
    opacity: 0.5;  
 }
 .govuk-item-custom-hide {
  min-height: 0px;
 }