<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <a (click)="onBackClick()" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-xl page-title">Register your organisation</h1>
  <h2><strong>To ensure your account is secure you will need a company email address and ONE of the following:</strong></h2>
  <ul>
    <li>Companies House registered number</li>
    <li>Dun and Bradstreet number</li>
    <li>Charity Commision for England and Wales number</li>
    <li>Office of The Scottish Charity Regulator (OSCR) number</li>
    <li>The Charity Commision for Northern Ireland number</li>
  </ul>
  <!-- <h2>Registering your organisation with CCS Single Sign on will allow you to<br />access all of your CCS services from one place, with one login</h2>
  <p>To register you will need to have a company email address and be able<br />to supply one of the following information about your organisation:</p>
  <ul>
    <li>VAT number</li>
    <li>Charity commision number</li>
    <li>Company registered number</li>
  </ul> -->
  <!-- <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onClick()">Start now</button> -->
  <br />
  <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onClick()">Continue</button>
  <p><a>If you do not have the information stated to be required on this page, please contact CCS</a></p>
  <!--<app-footer></app-footer>-->
</div>
