app-manage-organisation-profile-registry-add-confirmed {
  /*position: absolute;
  top: 252px;
  color: #000000;
  min-height: 690px;
  left: 4.4%;
  right: 5%;
  font-weight: 300;
  font-size: 12px;*/
  // font-family: Poppins;
  a {
    font-size: 16px;
  }
}


a {
  text-decoration: underline;
}



.navigation-text {
  margin-bottom: 100px;
  font-size: 16px;
}

.success_msg{
  margin-top: 30px;
}

.govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited {
  color: #0b0c0c !important;
}
.gov-uk-font-a{
  font-size: 19px !important;
}

.govuk-breadcrumbs__link {
  font-size: 18px !important;
  font-weight: 400;
}

@media (max-width: 767px) {
  .success_msg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}