.form-field-country {
    border-style: solid;
    border-width: 2px;
    height: 38px;
    padding-top: 6px;
    padding-left: 3px;
}

.example-full-width {
    width: 100%;
  }

.clickable{
    cursor: pointer;
}
.govuk-error-summary__list li {
    font-weight: 700 !important;
} 
.govuk-notification-banner__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
  .govuk-notification-banner__title {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  .govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #ffffff;
  }
  .govuk-notification-banner__heading {
    max-width: 100%;
  }