<div class="contact-assign-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'ADMINISTRATOR_DASHBOARD' | translate}}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" routerLink="/manage-org/profile">{{ 'MANAGE_YOUR_ORGANISATION'
                    |translate}}</a>
            </li>
            <li *ngIf="assigningSiteId != 0" class="govuk-breadcrumbs__list-item">
                <a href="javascript:;" class="govuk-breadcrumbs__link" (click)="onNavigateToSiteClick()">{{ 'EDIT_SITE' |
                    translate
                    }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" *ngIf="assigningOrgId != ''">
                <span class="govuk-breadcrumbs__link"> {{ 'SUCCESS' | translate }}</span>
            </li>
            <li class="govuk-breadcrumbs__list-item" *ngIf="assigningSiteId != 0">
                <span class="govuk-breadcrumbs__link"> Site {{siteInfo.siteName}} successfully created</span>
            </li>
        </ol>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l" *ngIf="assigningOrgId != ''">
                {{ 'ASSIGN_TO_ORG_CONTACT_SUCCESS' | translate }}
            </p>
            <div *ngIf="assigningSiteId != 0">
                <h1>You have successfully added site {{siteInfo.siteName}}</h1>
                <p class="govuk-body-l">
                    {{ 'ASSIGN_TO_SITE_CONTACT_SUCCESS' | translate }}
                </p>
            </div>
            <a href="javascript:;" *ngIf="assigningOrgId != ''" class="navigation-text"
                (click)="onNavigateToProfileClick()">
                {{'RETURN_MANAGE_YOUR_ORGANISATION' | translate }} </a>
            <a href="javascript:;" *ngIf="assigningSiteId != 0" class="navigation-text"
                (click)="onNavigateToSiteClick()">
                {{ 'RETURN_EDIT_SITE' | translate }} </a>
        </div>
    </div>
</div>