<div class="govuk-notification-banner govuk-notification-banner--success" *ngIf="cookiesUpdated">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
         {{ "COMMON_COMPONENT.COOKIE_SETTING_HEADER_1" | translate }}
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        {{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_1" | translate }} <a class="govuk-notification-banner__link" (click)="onback()">{{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_2" | translate }}</a>.
      </p>
    </div>
  </div>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-12" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="cookie-settings__confirmation banner banner-with-tick" data-cookie-confirmation="true"
                    role="group" tabindex="-1">
                </div>
                <h1 class="heading-large">{{ "COMMON_COMPONENT.COOKIE_SETTING_HEADER_2" | translate }}</h1>
                <p class="govuk-body">
                    {{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_3" | translate }}
                </p>
                <p class="govuk-body">{{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_4" | translate }}</p>

                <h2 class="heading-medium" id="essential-cookies">{{ "COMMON_COMPONENT.COOKIE_SETTING_HEADER_3" | translate }}</h2>
                <p class="govuk-body">
                    {{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_5" | translate }}
                </p>
                <div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_1" | translate }}</th>
                                <th scope="col" class="govuk-table__header">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_2" | translate }}</th>
                                <th scope="col" class="govuk-table__header">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_3" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_1" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_2" | translate }}</td>
                                <td class="govuk-table__cell">{{cookie_policy}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_36" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_3" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_4" | translate }}</td>
                                <td class="govuk-table__cell">{{ccs_sso_visitedsites}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_37" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_5" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_6" | translate }}</td>
                                <td class="govuk-table__cell">{{opbs}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_37" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_7" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_8" | translate }}
                                </td>
                                <td class="govuk-table__cell">{{ccs_sso}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_37" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_9" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_10" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_11" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_12" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_13" | translate }}
                                </td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_11" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_14" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_13" | translate }}
                                </td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_11" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_16" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_13" | translate }}
                                </td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_11" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_11" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_19" | translate }}</td>
                                <td class="govuk-table__cell">{{auth0}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_38" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_20" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_21" | translate }}</td>
                                <td class="govuk-table__cell">{{auth0_compat}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_38" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_22" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_23" | translate }}</td>
                                <td class="govuk-table__cell">{{did}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_39" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_24" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_25" | translate }}</td>
                                <td class="govuk-table__cell">{{did_compat}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_39" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_27" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_28" | translate }}</td>
                                <td class="govuk-table__cell">{{_cf_bm}} {{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_37" | translate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="heading-medium" id="analytics-cookies">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_4" | translate }}</h2>
                <p class="govuk-body">
                    {{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_6" | translate }}
                </p>
                <p class="govuk-body">
                    {{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_7" | translate }}
                </p>
                <p class="govuk-body">
                    {{ "COMMON_COMPONENT.COOKIE_SETTING_PARA_8" | translate }}
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ "COMMON_COMPONENT.COOKIE_SETTING_LIST_1" | translate }}</li>
                    <li>{{ "COMMON_COMPONENT.COOKIE_SETTING_LIST_2" | translate }}</li>
                    <li>{{ "COMMON_COMPONENT.COOKIE_SETTING_LIST_3" | translate }}</li>
                </ul>
                <div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_1" | translate }}</th>
                                <th scope="col" class="govuk-table__header">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_2" | translate }}</th>
                                <th scope="col" class="govuk-table__header">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_HEADER_3" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_29" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_30" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_31" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_32" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_30" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_33" | translate }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_34" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_30" | translate }}</td>
                                <td class="govuk-table__cell">{{ "COMMON_COMPONENT.COOKIE_SETTING_TABLE_DATA_35" | translate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cookie-settings__form-wrapper">
                    <form data-module="cookie-settings">
                        <div class="govuk-form-group govuk-!-margin-top-6">
                            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    {{ "COMMON_COMPONENT.COOKIE_SETTING_LABLE_1" | translate }}
                                </legend>
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="cookies-analytics-yes"
                                            name="cookies-analytics" type="radio" value="on"
                                            [(ngModel)]="SelectionMode">
                                        <label class="govuk-label govuk-radios__label" for="cookies-analytics-yes">
                                            {{ "COMMON_COMPONENT.COOKIE_SETTING_LABLE_2" | translate }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="cookies-analytics-no"
                                            name="cookies-analytics" type="radio" value="off"
                                            [(ngModel)]="SelectionMode">
                                        <label class="govuk-label govuk-radios__label" for="cookies-analytics-no">
                                            {{ "COMMON_COMPONENT.COOKIE_SETTING_LABLE_3" | translate }}
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <button class="govuk-button" type="submit" (click)="OnSubmit()">{{ "COMMON_COMPONENT.COOKIE_SETTING_SAVE_BTN" | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>