.banner-default-with-tick, .banner-with-tick {
    padding: 15px 45px;
    background-image: url(/images/tick.png);
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
}

.govuk-body, .govuk-body-m {
    color: #0b0c0c;
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

.summary{
    border: none;
    margin: 0;
    padding: 0;
}

.govuk-body {
    color: #0b0c0c;
    font-family:nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3157894737;
    margin-top: 0;
    margin-bottom: 15px;
}

.cookie-group-table {
    width: 40%;
    max-height: 350px;
    overflow: auto;
  }

table td {
    font-family: nta,Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.3157894737;
    padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
    text-align: left;
    border-bottom: 1px solid #bfc1c3;
}

table th{
    font-family: nta,Arial,sans-serif;
}

.govuk-label {
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px;
}

.heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.5555555556em;
    font-family: nta,Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 36px;
    line-height: 1.1111111111;
}

.heading-medium {
    font-family: nta,Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}