app-manage-organisation-registration-step-3 {
  color: #000000;
  label {
    font-size: 12px;
    font-weight: 400;
  }
  h4 {
    color: #000000;
  }
  input[type="radio"] {
    width: 300px;
    height: 50px;
    margin-right: 10px;
    top: 3px;
  }
}
.form-field-country {
  border-style: solid;
  border-width: 2px;
  height: 38px;
  padding-top: 6px;
  padding-left: 0px;
  display: inline-block !important;
}

.form-field-country.form-field-required {
  position: relative;
}

.form-field-country:focus,
.form-field-country:active,
.mat-focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 2px;
}

.mat-option.mat-active {
  background: #177ddc !important;
  color: white;
}

.line-to-grow-with-content {
  width: max-content;
}

.full-length {
  width: auto;
  margin-bottom: 30px;
}

.govuk-heading-xl  {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.custom-select{
  height: 30px !important;
  font-size: 1rem !important;
}