app-manage-organisation-registration-step-3 {
  color: #000000;
  label {
    font-size: 12px;
    font-weight: 400; 
  }
  h4 {
    color: #000000;
  }
  input[type=radio] {
    width: 300px;
    height: 50px;
    margin-right: 10px;
    top: 3px;
  }
}
.form-field-country {
  border-style: solid;
  border-width: 2px;
  height: 38px;
  padding-top: 6px;
  padding-left: 3px;
}
// .form-field-country.form-field-required:after {
//   content: "*";
//   position: absolute;
//   right: -14px;
//   top: -12px;
//   color: red;
//   font-size: 26px;
// }
.form-field-country.form-field-required {
  position: relative;
}