<div class="content flex" [@slide]="(sideNavVisible$ | async) ? 'close' : 'open'">
    <h1 *ngIf="id == 0" class="govuk-heading-xl page-title">Add another site</h1>
    <h1 *ngIf="id != 0" class="govuk-heading-xl page-title">Edit site details</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <form class="govuk-!-width-three-quarters" [class.error]="!formValid(formGroup)" [formGroup]="formGroup">
            <div class="govuk-form-group" *ngIf="formValid(formGroup) == false && submitted">
              <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    <a *ngIf="formGroup.controls['name'].hasError('required')"><li>Enter site name</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.name.invalid">
              <label class="govuk-label" for="name">Contact name</label>
              <span id="name-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.name.invalid">
                <span class="govuk-visually-hidden">Error:</span>Enter name
              </span>
              <input class="govuk-input" id="name" formControlName="name" maxlength="100" name="name" size="20" type="text" value="" autocomplete="name" [class.govuk-input--error]="submitted && formGroup.controls.name.invalid">
            </div>
            <div class="govuk-form-group govuk-button-group">
              <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onSubmit(formGroup)">Save changes</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="onCancelClick()">Cancel</button>
            </div>
            <div class="govuk-form-group govuk-button-group" *ngIf="id != 0">
                <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button govuk-button--warning" data-module="govuk-button" (click)="onDeleteClick($event)">Delete details</button>
            </div>
          </form>
        </div>
    </div>
</div>