<div class="content flex" [@slide]="(sideNavVisible$ | async) ? 'close' : 'open'">
    <h1 class="govuk-heading-xl page-title" *ngIf="isNew()">Add Registry</h1>
    <h1 class="govuk-heading-xl page-title" *ngIf="!isNew()">Edit Registry details</h1>
    <div class="form contact-form">
        <form class="ui form login mb-two" [class.error]="!formValid(frmGroup)" (submit)="onSubmit(frmGroup)" [formGroup]="frmGroup">
            <div class="ui segment">
                <div
                    [class.invalid]="frmGroup.controls.scheme.invalid && (submitted || frmGroup.controls.scheme.touched)">
                    <label>Scheme</label><br>
                    <input name="scheme" type="text" formControlName="scheme" class="mb-half">
                    <small style="color:red;" *ngIf="frmGroup.controls.scheme.invalid && (submitted || frmGroup.controls.scheme.touched)">Please enter a scheme name.</small>
                </div>
                <br>
                <div
                    [class.invalid]="frmGroup.controls.id.invalid && (submitted || frmGroup.controls.id.touched)">
                    <label>ID</label><br>
                    <input name="id" type="text" formControlName="id" class="mb-half">
                    <small style="color:red;" *ngIf="frmGroup.controls.id.invalid && (submitted || frmGroup.controls.id.touched)">Please enter an id.</small>
                </div>
                <br>
                <button type="submit" *ngIf="isNew()" class="secondary-button save-button mb-one" style="width: 190px;">Submit</button>
                <button type="submit" *ngIf="!isNew()" class="secondary-button save-button mb-one" style="width: 190px;">Save changes</button>
                <button type="button" class="secondary-button cancel-button" style="margin-left: 7px;" (click)="onCancelClick()">Cancel</button>
            </div>
        </form>
    </div>
    <!-- <div class="delete-link"><a *ngIf="contactId != 0" (click)="onDeleteClick($event)">Delete details</a></div> -->
</div>