<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'ADMINISTRATOR_DASHBOARD' | translate}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <span class="govuk-breadcrumbs__link">Organisation user support</span>
        </li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl page-title">Organisation user support</h1>
  <h2 style="margin-top: -25px; margin-bottom: 40px;"></h2>
  <div class="govuk-form-group" [formGroup]="formGroup">
    <label class="govuk-label" for="search"><strong>Search for organisation or users</strong></label>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="govuk-input__wrapper">
            <input class="govuk-input" formControlName="search" id="search" name="search" type="text">
            <div class="govuk-input__suffix" aria-hidden="true" (click)="onSearch()">{{ 'SEARCH' | translate }}</div>
          </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" *ngIf="data">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Organisation</th>
              <th scope="col" class="govuk-table__header">User email address</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <!-- <tr class="govuk-table__row" *ngFor="let row of data$ | async"> -->
            <ng-container *ngFor="let row of pageOfItems">
              <tr class="govuk-table__row" *ngIf="row?.organisationId != organisationId">
                <th scope="row" class="govuk-table__header" style="font-weight:300;">
                  <div><input type="radio" [value]="row?.userName" [checked]="row?.userName+'' === selectedRowId+''" name="selectedRowId" [(ngModel)]="selectedRowId" (click)="onSelect(row)"><label (click)="onSelect(row)">{{ row?.name?.toUpperCase() }}</label></div>
                </th>
                <td class="govuk-table__cell">{{ row?.organisationLegalName }}</td>
                <td class="govuk-table__cell">{{ row?.userName }}</td>
              </tr>
            </ng-container>
          </tbody>
      </table>
      <ccs-pagination [items]="data" (changePage)="onChangePage($event)"></ccs-pagination>
    </div>
  </div>
  <div class="govuk-button-group">
    <!-- <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onContinueClick()">Continue</button> -->
    <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" [class.govuk-button--disabled]= "selectedRowId === ''" data-module="govuk-button" (click)="onContinueClick()" [disabled]="selectedRowId === ''">Continue</button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="onCancelClick()">Cancel</button>
  </div>
</div>
