<div class="user-profile-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="navigation-text" class="govuk-breadcrumbs__link" (click)="navigateToHome()">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HOME" | translate }}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <span class="govuk-breadcrumbs__link">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_BRD" | translate }}</span>
      </li>
    </ol>
  </div>
  <main id="main-content" role="main" class="govuk-main-wrapper" data-template="">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl page-title page-title--tight">
          {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_BRD" | translate }}
        </h1>

        <p class="govuk-body-l"></p>
      </div>
    </div>

    <div class="page-components"></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="wysiwyg-content">
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_1" | translate }}
          </p>
          <ul>
            <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_1" | translate }}</li>
            <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_2" | translate }}</li>
            <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_3" | translate }}</li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_4" | translate }}
            </li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_5" | translate }}
            </li>
          </ul>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_2" | translate }}
          </p>
          <p>
            <a class="navigation-text" href="https://mcmw.abilitynet.org.uk/" target="_blank">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_3" | translate }}</a>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_4" | translate }}
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_1" | translate }}</h3>
          <p>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_5" | translate }}</p>
          <ul>
            <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_6" | translate }}</li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_7" | translate }}
              
            </li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_8" | translate }}
            </li>
            <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_9" | translate }}</li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_10" | translate }}
            </li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_11" | translate }}
            </li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_12" | translate }}
            </li>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_13" | translate }}
            </li>
          </ul>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_2" | translate }}</h3>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_6" | translate }}
          </p>
          <ul>
            <li>
              {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_14" | translate }}
              <a class="navigation-text" href="mailto:info@crowncommercial.gov.uk">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_15" | translate }}</a>
            </li>
            <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_16" | translate }}</li>
          </ul>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_7" | translate }}
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_3" | translate }}</h3>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_8" | translate }}
            <a class="navigation-text" href="mailto:info@crowncommercial.gov.uk">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_CCS_MAIL" | translate }}.</a>
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_4" | translate }}</h3>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_9" | translate }}
            <a class="navigation-text" href="https://www.equalityadvisoryservice.com/" target="_blank">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_10" | translate }}</a>.
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_5" | translate }}</h3>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_11" | translate }}
          </p>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_12" | translate }}
            <a class="navigation-text" target="_blank" href="https://www.w3.org/TR/WCAG21/">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_13" | translate }}</a>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_14" | translate }}
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_15" | translate }}</h3>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_16" | translate }}
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_6" | translate }}</h3>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_7" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_17" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_8" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_19" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_8" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_20" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_10" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_21" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_11" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_22" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_12" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_23" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_13" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_24" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_14" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_25" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_18" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_15" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_26" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_16" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_27" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_17" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_28" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_18" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_29" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_19" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_30" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <div>
            <h4 class="govuk-heading-s">{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_20" | translate }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_31" | translate }}</li>
              <li>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_LIST_32" | translate }}</li>
            </ul>
          </div>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_21" | translate }}</h3>
          <p>
            <span>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_SPAN_1" | translate }}</span><br><br>
            <span>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_SPAN_2" | translate }}</span><br><br>
            <span>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_SPAN_3" | translate }}</span>
          </p>
          <h3>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_HEADER_22" | translate }}</h3>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_17" | translate }}
          </p>
          <p>
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_18" | translate }}
          </p>
          <p>{{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PARA_19" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="wysiwyg-content"></div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-c-print-link">
          <button (click)="print();" type="button" class="app-c-print-link__link navigation-text print_Screen"
            rel="alternate">
            {{ "COMMON_COMPONENT.ACCESSIBILTY_STATEMENT_PAINT_BTN" | translate }}
          </button>
        </div>
      </div>
    </div>
  </main>
</div>