.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  min-height: 150px;
  height: 100%;
  border: 1px solid grey;
  a {
    text-decoration: none !important;
    word-break: break-word;
  }
  a:focus {
    a {
      background-color: #ffdd00;
      text-decoration: underline !important;
    }
  }
}

.card-title {
  // font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #007e8a;
}

.tile-para {
  // font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #0b0c0c;
}

h1 {
  // font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 50px;
  /* identical to box height, or 104% */

  /* /Text Primary */

  color: #0b0c0c;
}

h2 {
  // font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  /* /Text Primary */

  color: #0b0c0c;
}

.margine
{
  margin-top:10px
}

strong {
  font-weight: 600;
  font-size: 24px;
}

.gov_uk_header{
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.govuk-heading-xl {
  margin-bottom: 30px;
}

.govuk-notification-banner__title {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}
.govuk-notification-banner__title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.govuk-notification-banner__content {
  color: #0b0c0c;
  padding: 15px;
  background-color: #ffffff;
}
.govuk-notification-banner__heading {
  max-width: 100%;
}
.govuk-notification-banner{
  margin-bottom: 15px;
}