<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="user-profile-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/home">
                            {{ "ADMINISTRATOR_DASHBOARD" | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/manage-buyer-both">
                            Manage Buyer / Both Requests</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <span class="govuk-breadcrumbs__link">Pending verification</span>
                    </li>
                </ol>
            </div>
            <h1 class="govuk-heading-xl page-title header-bread-align">View organisation pending buyer status verification</h1>
            <div>
                <p  class="govuk-body-l">
                    View details of the organisation that is pending manual verification process for buyer status. If you want to accept this organisation as a verified buyer, please use ‘Accept buyer status’ button on the bottom of this page.
                </p>
            </div>
            <div class="span-group govuk-!-margin-top-4">
                <h2 class="govuk-heading-m">Organisation details</h2>
                <p class="govuk-body">
                    Organisation name:<strong class="govuk-!-margin-left-2">Dream Guys</strong>
                </p>
                <p class="govuk-body">
                    Organisation type:<strong class="govuk-!-margin-left-2">Both</strong>
                </p>
                <p class="govuk-body">
                    Date of registration:<strong
                        class="govuk-!-margin-left-2">30-01-1997</strong>
                </p>
        </div>
    </div>
</div>