<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <a href="javascript:;" (click)="onBackClick()" class="govuk-back-link">{{ "REGISTRATION.BACK" | translate }}</a>

  <h1 class="govuk-heading-xl page-title">{{ "REGISTRATION.REG_SEARCH_HEADER_1" | translate }}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-error-summary radio-form-error" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
        id="error-summary" data-module="govuk-error-summary" *ngIf="submitted && txtValue == ''">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          {{ "REGISTRATION.THERE_IS_PROB" | translate }}
        </h2>
        <div class="govuk-error-summary__body" *ngIf="validationObj.activeElement != 'US-DUN'">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="javascript:;" (click)="setFocus(0)">
                {{ "REGISTRATION.REG_SEARCH_ERROR_ENT_REG_NUM" | translate }}
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-error-summary__body" *ngIf="validationObj.activeElement === 'US-DUN'">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a *ngIf="validationObj.isDunlength && validationObj.DunData == ''" href="javascript:;"
                (click)="setDun_numberfocus()">
                {{ "REGISTRATION.REG_SEARCH_ERROR_ENT_REG_NUM" | translate }}
              </a>
              <a *ngIf="validationObj.DunData" href="javascript:;" (click)="setDun_numberfocus()">
                {{ "REGISTRATION.REG_SEARCH_REQ_DUN" | translate }}
              </a>
              <a *ngIf="
                  validationObj.stringIdentifier &&
                  !validationObj.isDunlength &&
                  !validationObj.DunData
                " href="javascript:;" (click)="setDun_numberfocus()">
                {{ "REGISTRATION.REG_SEARCH_REQ_DUN" | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            {{ "REGISTRATION.REG_SEARCH_CHO_OPT" | translate }}
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let item of items$! | async" [class.govuk-form-group--error]="
                submitted &&
                (schemeSubjectObs | async) === item.scheme &&
                txtValue == ''
              ">
              <input class="govuk-radios__input" type="radio" [attr.id]="item.scheme + '-RadioButton'" name="scheme"
                [value]="item.scheme" value="{{ item.scheme }}" [checked]="(schemeSubjectObs | async) === item.scheme"
                [(ngModel)]="scheme" (click)="onSelect(item)" />
              <label for="{{ item.scheme + '-RadioButton' }}" class="govuk-label govuk-radios__label">{{ item.schemeName
                }}</label>

              <div *ngIf="(schemeSubjectObs | async) === item.scheme" id="{{ item.scheme + '-Div' }}" class="box-input">
                <label *ngIf="validationObj.activeElement != 'US-DUN'" for="{{ item.scheme + '-TextBox' }}"
                  class="govuk-hint govuk-radios__hint">
                  <span id="name-error" class="govuk-error-message" *ngIf="submitted && txtValue == ''">
                    <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{
                    'REGISTRATION.REG_SEARCH_ERROR_ENT_REG_NUM' | translate }}
                  </span>
                  {{ 'REGISTRATION.REG_SEARCH_ENT_YOUR' | translate }} {{ item.schemeName }} {{ 'REGISTRATION.REG_SEARCH_ENT_NUM' | translate }}
                  <P class="govuk-body govuk-!-font-weight-regular custom_span"
                    *ngIf="item.schemeName === 'Companies House'">
                    <span>{{ 'REGISTRATION.REG_SEARCH_GO_TO' | translate }}</span>
                    <a href="https://find-and-update.company-information.service.gov.uk/?" class="govuk-link"
                      rel="noreferrer noopener" target="_blank">{{ 'REGISTRATION.REG_SEARCH_COMP_HOU' | translate }}</a>
                    <span>{{ 'REGISTRATION.REG_SEARCH_SPAN_1' | translate }}</span>
                  </P>
                  <P class="govuk-body govuk-!-font-weight-regular custom_span"
                    *ngIf="item.schemeName === 'Charity Commission for England and Wales'">
                    <span>{{ 'REGISTRATION.REG_SEARCH_GO_TO' | translate }}</span>
                    <a href="https://register-of-charities.charitycommission.gov.uk/charity-search" class="govuk-link"
                      rel="noreferrer noopener" target="_blank">{{ 'REGISTRATION.REG_SEARCH_COMP_CHAR_EW' | translate }}</a>
                    <span>{{ 'REGISTRATION.REG_SEARCH_SPAN_1' | translate }}</span>
                  </P>
                  <P class="govuk-body govuk-!-font-weight\regular custom_span"
                    *ngIf="item.schemeName === 'Office of The Scottish Charity Regulator (OSCR)'">
                    <span>{{ 'REGISTRATION.REG_SEARCH_GO_TO' | translate }}</span>
                    <a href="https://www.oscr.org.uk/search/" class="govuk-link" rel="noreferrer noopener"
                      target="_blank">{{ 'REGISTRATION.REG_SEARCH_COMP_OFFICE' | translate }}</a>
                    <span>{{ 'REGISTRATION.REG_SEARCH_SPAN_1' | translate }}</span>
                  </P>
                  <P class="govuk-body govuk-!-font-weight-regular custom_span"
                    *ngIf="item.schemeName === 'The Charity Commission for Northern Ireland'">
                    <span>{{ 'REGISTRATION.REG_SEARCH_GO_TO' | translate }}</span>
                    <a href="https://www.charitycommissionni.org.uk/charity-search/?pageNumber=1" class="govuk-link"
                      rel="noreferrer noopener" target="_blank">{{ 'REGISTRATION.REG_SEARCH_COMP_CHAR_NI' | translate }}</a>
                    <span>{{ 'REGISTRATION.REG_SEARCH_SPAN_1' | translate }}</span>
                  </P>
                  <P class="govuk-body govuk-!-font-weight-regular custom_span"
                    *ngIf="item.schemeName === 'National Health Service Organisations Registry'">
                    <span>{{ 'REGISTRATION.REG_SEARCH_GO_TO' | translate }}</span>
                    <a href="https://odsportal.digital.nhs.uk/Organisation/Search" class="govuk-link"
                      rel="noreferrer noopener" target="_blank">{{ 'REGISTRATION.REG_SEARCH_COMP_NATIONAL' | translate }}</a>
                    <span>{{ 'REGISTRATION.REG_SEARCH_SPAN_1' | translate }}</span>
                  </P>
                </label>

                <span *ngIf="validationObj.activeElement === 'US-DUN'" class="govuk-hint govuk-radios__hint">
                  <span id="name-error" class="govuk-error-message"
                    *ngIf="submitted && dunNumber.get('data1').value == null && dunNumber.get('data2').value == null && dunNumber.get('data3').value == null">
                    <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{
                    'REGISTRATION.REG_SEARCH_ERROR_ENT_REG_NUM' | translate }}
                  </span>
                    {{'REGISTRATION.REG_SEARCH_ENTER_DUN&BRAD' | translate }}
                  <P class="govuk-body govuk-!-font-weight-regular custom_span">
                    <span>{{ 'REGISTRATION.REG_SEARCH_GO_TO' | translate }}</span>
                    <a href="https://www.dnb.co.uk/duns-number/lookup.html" class="govuk-link" rel="noreferrer noopener"
                      target="_blank"> {{ 'REGISTRATION.REG_SEARCH_DUN&BRAD' | translate }} </a>
                    <span>{{ 'REGISTRATION.REG_SEARCH_SPAN_1' | translate }}</span>
                  </P>
                </span>
                <input *ngIf="validationObj.activeElement != 'US-DUN'" #input id="{{ item.scheme + '-TextBox' }}"
                  class="govuk-input govuk-input--width-10 text-input" type="text" [(ngModel)]="txtValue"
                  [class.govuk-input--error]="
                    submitted &&
                    (schemeSubjectObs | async) === item.scheme &&
                    txtValue == ''
                  " />
                <form [formGroup]="dunNumber">
                  <div class="input-text-group custom-field" *ngIf="validationObj.activeElement == 'US-DUN'">
                    <div id="valid-identifier-error" class="govuk-error-message" *ngIf="
                        submitted &&
                        validationObj.stringIdentifier &&
                        validationObj.DunData != ''
                      ">
                      <span class="govuk-visually-hidden">Error:</span>{{ "REGISTRATION.REG_SEARCH_REQ_DUN" | translate }}
                    </div>
                    <span>
                      <label for="input1">.</label>
                      <input type="text" id="input1" (input)="
                          ValueChanged(dunNumber.controls.data1.value, 'input1')
                        " maxlength="3" formControlName="data1" class="govuk-input govuk-input--width-10 text-input"
                        (keydown.backspace)="
                          tiggerBackspace(
                            dunNumber.controls.data1.value,
                            'input1'
                          )
                        " [class.govuk-input--error]="
                          submitted && dunNumber.get('data1').invalid
                        " />
                    </span>
                    <span>
                      <label for="input2">.</label>
                      <input type="text" id="input2" maxlength="3" (input)="
                          ValueChanged(dunNumber.controls.data2.value, 'input2')
                        " formControlName="data2" class="govuk-input govuk-input--width-10 text-input"
                        (keydown.backspace)="
                          tiggerBackspace(
                            dunNumber.controls.data2.value,
                            'input2'
                          )
                        " [class.govuk-input--error]="
                          submitted && dunNumber.get('data2').invalid
                        " /></span>
                    <span>
                      <label for="input3">.</label>
                      <input type="text" id="input3" maxlength="3" (input)="
                          ValueChanged(dunNumber.controls.data3.value, 'input3')
                        " formControlName="data3" class="govuk-input govuk-input--width-10 text-input"
                        (keydown.backspace)="
                          tiggerBackspace(
                            dunNumber.controls.data3.value,
                            'input3'
                          )
                        " [class.govuk-input--error]="
                          submitted && dunNumber.get('data3').invalid
                        " /></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button" (click)="onSubmit()">
        {{ "REGISTRATION.CONTINUE_BTN" | translate }}
      </button>
    </div>
  </div>
</div>