.govuk-button-group {
    margin-top: 50px !important;
}

.page-title {
    margin-top: 30px !important;
}
a {
    text-decoration: underline;
}
.navigation-text {
    margin-bottom: 100px;
    font-size: 19px;
}
.footer-global .govuk-link:link, a:link {
    color: #005ea5;
}
.gov-uk-return-links{
    margin-top: 30px;
}