.header-bread-align {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  .remove_element {
    color: transparent;
}

.navigation-text{
    text-decoration: underline;
    color: #005ea5;
}
a {
  text-decoration: underline;
}
.govuk-valign-top{
  vertical-align: top;
}