input,
label,
div,
h1,
h2,
a,
span,
select,
option,
button {
    font-family: Source Sans Pro;
}

a {
    text-decoration: underline;
}

.home-link {
    font-size: 19px;
}

h1 {
    margin-top: 38px;
}

.save-cancel-button-group {
    margin-top: 80px;
}

.template-link {
    font-size: 19px;
}