<div class="content flex" [@slide]="(sideNavVisible$ | async) ? 'close' : 'open'">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" routerLink="/home">Administrator dashboard</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <span class="govuk-breadcrumbs__link">Manage your organisation</span>
      </li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl page-title">Manage your organisation</h1>
  <div>
    <p style="margin-top:40px;">
      <strong style="font-weight: 600;font-size: 24px;">{{ org.identifier?.legalName }}</strong><br />
      {{ org.address?.streetAddress }}<br *ngIf="org.address?.streetAddress" />
      {{ org.address?.locality }}<br *ngIf="org.address?.locality" />
      {{ org.address?.region }}<br *ngIf="org.address?.region" />
      {{ org.address?.postalCode }}<br *ngIf="org.address?.postalCode" />
      {{ org.address?.countryName }}<br *ngIf="org.address?.countryName" />
    </p>
  </div>
  <h2 class="govuk-heading-s"> {{ 'BUYER_SUPPLIER_TYPE' | translate }}</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <p *ngIf="org.detail?.supplierBuyerType == 0">{{ 'SUPPLIER_TYPE' | translate }}</p>
        <p *ngIf="org.detail?.supplierBuyerType == 1">{{ 'BUYER_TYPE' | translate }}</p>
        <p *ngIf="org.detail?.supplierBuyerType == 2">{{ 'BUYER_AND_SUPPLIER_TYPE' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="govuk-form-group" *ngIf="idps">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-heading-s">
        {{ 'SIGN_IN_PROVIDER'| translate }}
      </legend>
      <span>
        A sign in provider gives users the option to use a different service to sign in
      </span>
      <br>
      <br>
      <div class="govuk-checkboxes label-detail-text-gap">
        <div class="govuk-checkboxes__item" *ngFor="let idp of idps">
          <div *ngIf="idp.connectionName !== 'none'">
            <input type="checkbox" [value]="idp.id"
              [disabled]="idp.connectionName === 'Username-Password-Authentication'" [checked]="idp.enabled === true"
              (change)="onIdentityProviderChange($event,idp)" class="govuk-checkboxes__input"
              id="orgRoleControl_{{idp.id}}">
            <label class="govuk-label govuk-checkboxes__label" for="orgRoleControl_{{idp.id}}">{{idp.name}}</label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <h2 class="govuk-heading-s"> {{ 'CONTACT_DETAILS' | translate }}</h2>
  <app-details [detailsData]="detailsData[0]"></app-details>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <app-govuk-table [headerTextKeys]="contactTableHeaders" [data]="contactData"
          [dataKeys]="contactColumnsToDisplay" [isHyperLinkVisible]="true" [hyperLinkText]="'EDIT'"
          (hyperLinkClickEvent)="onContactEditClick($event)" [useClientPagination]="true">
        </app-govuk-table>
      </div>
    </div>
  </div>
  <div class="govuk-form-group govuk-button-group">
    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
      (click)="onContactAddClick()">{{
      'ADD_ANOTHER_CONTACT_BTN' | translate }}</button>
    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
      (click)="onContactAssignClick()">
      {{ 'FIND_AND_ASSIGN_CONTACT_BTN' | translate }}</button>
  </div>
  <h2 class="govuk-heading-s">{{ 'SITE_DETAILS' | translate }}</h2>
  <app-details [detailsData]="detailsData[1]"></app-details>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <app-govuk-table [headerTextKeys]="siteTableHeaders" [data]="siteData" [dataKeys]="siteColumnsToDisplay"
          [isHyperLinkVisible]="true" [hyperLinkText]="'EDIT'" (hyperLinkClickEvent)="onSiteEditClick($event)"
          [useClientPagination]="true">
        </app-govuk-table>
      </div>
    </div>
  </div>
  <div class="govuk-form-group govuk-button-group">
    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
      (click)="onSiteAddClick()">{{
      'ADD_ANOTHER_SITE' | translate }}</button>
  </div>

  <h2 class="govuk-heading-s" *ngIf="registries">Registries</h2>
  <app-details [detailsData]="detailsData[2]"></app-details>
  <table class="govuk-table" *ngIf="registries">
    <caption class="govuk-table__caption govuk-table__caption--m">Below are the registries currently linked to your
      organisation</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Registry</th>
        <th scope="col" class="govuk-table__header">ID</th>
        <th scope="col" class="govuk-table__header">Legal name</th>
        <td scope="col" class="govuk-table__header"></td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ getSchemaName(registries.identifier?.scheme || '') }}</th>
        <td class="govuk-table__cell">{{ registries.identifier?.id}}</td>
        <td class="govuk-table__cell">{{ registries.identifier?.legalName}}</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row" *ngFor="let row of additionalIdentifiers;">
        <th scope="row" class="govuk-table__header">{{ getSchemaName(row.scheme) }}</th>
        <td class="govuk-table__cell">{{ row.id }}</td>
        <td class="govuk-table__cell">{{ row.legalName}}</td>
        <td class="govuk-table__cell"><a href="javascript:;" (click)="onRegistryRemoveClick(row)">Remove</a></td>
      </tr>
    </tbody>
  </table>
  <div class="govuk-form-group govuk-button-group" *ngIf="registries != null">
    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
      (click)="onRegistryAddClick()">Add new registry</button>
  </div>
  <p style="margin-top:40px;"><strong>If you have previously tried to signup or register (CII registry) and have made a
      mistake, Please</strong> <a id="contactCCSLink" class="navigation-text" href="{{ccsContactUrl}}" target="_blank">
      Contact CCS</a></p>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button"
      (click)="onSaveChanges()" [disabled]="changedIdpList.length ==0">Save changes</button>
    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"
      (click)="onCancel()">Cancel</button>
  </div>
</div>