<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <h1 class="govuk-heading-xl page-title">Sign In to CCS Services</h1>
  <p class="govuk-body-l">There are multiple ways to access your CCS Services</p>
  <p>If your organisation is not registered you will have to complete the organisation registration</p>
  <button id="registerButton" type="button" (click)="onClick()" class="govuk-button" data-module="govuk-button">
		Register
	</button>
  <p>If you already use a CCS service you can sign up</p>
  <button id="signUpButton" type="button" (click)="onClick()" class="govuk-button" data-module="govuk-button">
    Sign up
	</button>
  <p>Already got an account?</p>
  <p><a id="signInLink" routerLink="/login">Sign in</a> if you already have an account</p>
</div>
