a{
    text-decoration: underline;
 }
  
  .navigation-text 
  {
      margin-bottom: 100px;
      font-size: 19px;
  }
  .govuk-text-input-group
  {
    padding-bottom: 20px;
  }
  .govuk-line-height 
  {
    line-height: 1.5px;
  }
  .card {
    padding: 16px;
    background-color: #f1f1f1;
    min-height: 150px;
    height: 100%;
  }
  .card.card-help {
    height: auto;
    min-width: 100px;
    max-width: 300px;
    margin-left: auto;
  }
  
  .card-help .card-title {
    font-weight: 700;
    font-size: 20px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .card-help a {
    color: #005ea5;
    font-weight: 500;
    font-size: 16px;
  }
  .content-flex-a {
    justify-content: space-between;
    flex-flow: wrap;
    display: flex;
  }
  .content-left {
    width: 66.66%;
  }
  .content-right {
    width: 33.3%;
    padding-left: 15px;
  }
  .govuk-custom-grid
  {
    width: 298px;
    height: 330px;
    top: 279px;
    left: 1014px;

  }
  .govuk-margin-custom
  {
    margin-bottom: 5px;
  }
  @media (max-width: 767px) {
    .content-left, .content-right {
        width: 100%;
        padding-left: 0;
    }  
    .govuk-custom-grid {
        width: 100%;
        height: auto;
    }  
    .card.card-help {
        margin: 10px 0;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .govuk-custom-grid {
        width: 240px;
        height: auto;
    }
  }