a{
    text-decoration: underline;
 }
  
  .navigation-text 
  {
      margin-bottom: 100px;
      font-size: 19px;
  }
  .govuk-text-input-group
  {
    padding-bottom: 20px;
  }
  .govuk-line-height 
  {
    line-height: 1.5px;
  }
  .card {
    padding: 16px;
    background-color: #f1f1f1;
    min-height: 150px;
    height: 100%;
  }
  .card.card-help {
    height: auto;
    min-width: 100px;
    max-width: 300px;
    margin-left: auto;
  }
  
  .card-help .card-title {
    font-weight: 700;
    font-size: 20px;
  }
  
  .card-help a {
    color: #005ea5;
    font-weight: 500;
    font-size: 16px;
  }
  .content-flex-a {
    justify-content: space-between;
    flex-flow: wrap;
    display: flex;
  }
  .content-left {
    width: 66.66%;
  }
  .content-right {
    width: 33.3%;
    padding-left: 15px;
  }
  .govuk-custom-grid
  {
    width: 298px;
    height: 330px;
    top: 279px;
    left: 1014px;

  }
  .govuk-margin-custom
  {
    margin-bottom: 5px;
  }