h1 {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}
input,
label,
div,
h1,
h2,
th,
td,
a,
span,
button {
  font-family: Source Sans Pro;
}

p {
    margin-top: 38px;
}

a{
  text-decoration: underline;
}

.navigation-text {
    font-size: 19px;
}