<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <a href="javascript:;" (click)="goBack()" class="govuk-back-link">Back</a>
            <div>
                <h1 class="govuk-heading-xl page-title">
                    How to find your administrator</h1>
                <p>Your administrator is someone who works for your organisation. We can't tell
                    you exactly who your administrator is but here are a few ideas of who to ask.</p>
                <h2>Your administrator might be:</h2>
                <ul>
                    <li>the person who gave you your work email account</li>
                    <li>someone in your IT or HR department</li>
                    <li>your direct line manager</li>
                    <li>someone in your procurement team</li>
                    <li>the person who manages your email service or website</li>
                </ul>
                <p class="govuk-body-l"></p>
                <div class="govuk-form-group">
                    <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button"
                        (click)="goBack()">Return to choose your administrator</button>
                    <p><a id="homeLink" class="navigation-text" href="https://www.crowncommercial.gov.uk/">Return
                            to Crown Commercial Service homepage</a></p>
                </div>
            </div>
        </div>
    </div>