<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
    <a href="javascript:;" (click)="goBack()" class="navigation-text govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl page-title">
        How to find your administrator</h1>
    <p class="govuk-body-l">Your administrator is someone who work for your organisation. We can't tell
        you exactly who your administrator is but here are a few ideas of who to ask.
    </p>
    <p class="govuk-body-l">Your administrator might be</p>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <a href="javascript:;" (click)="goBack()" class="govuk-back-link">Back</a>
            <div>
                <h1 class="govuk-heading-xl page-title">
                    How to find your administrator</h1>
                <p class="govuk-body-l">Your administrator is someone who work for your organisation. We can't tell
                    you exactly who your administrator is but here are a few ideas of who to ask.</p>

                <h2><strong>Your administrator might be:</strong></h2>
                <ul>
                    <li><b>The administrator of your organisation's account</b></li>
                    <li>Responsible for managing users and creating groups</li>
                    <li>Able to edit your organisation's details</li>
                    <li>The sole admin user, although you can add more</li>
                </ul>
                <div class="govuk-form-group">
                    <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button"
                        (click)="goBack()">Return to choose your administrator</button>
                </div>                
            </div>
        </div>
    </div>
</div>