app-manage-organisation-registration-type {
  /*position: absolute;
  top: 252px;
  color: #000000;
  min-height: 1200px;
  left: 4.4%;
  right: 5%;
  font-weight: 300;
  font-size: 12px;*/
  // font-family: Poppins;
}
.detail-text-bg{
  background-color: #f8f8f8;
}
