<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="user-profile-container">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/home">{{ 'GROUPS.ADMINISTRATOR_DASHBOARD' | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" routerLink="/manage-groups">{{ 'GROUPS.MANAGE_GROUPS' | translate
                            }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a href="javascript:;" class="govuk-breadcrumbs__link" (click)="onCancelClick()">{{ 'GROUPS.EDIT_GROUP' | translate }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <span *ngIf="isEdit== true" class="govuk-breadcrumbs__link">
                            {{'GROUPS.ADD_REMOVE_USERS'| translate }}</span>
                        <span *ngIf="isEdit!= true" class="govuk-breadcrumbs__link">
                            {{ 'GROUPS.ADD_USERS' | translate }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 *ngIf="isEdit== true" class="govuk-heading-xl page-title">
            {{ 'GROUPS.MANAGE_GROUP_USERS' | translate }} : {{groupName}}</h1>
        <h2 *ngIf="isEdit== true" class="govuk-heading-m">
            {{ 'GROUPS.SELECT_USERS_WANT_TO_ADD' | translate }} : {{groupName}}</h2>
        <h1 *ngIf="isEdit!= true" class="govuk-heading-xl page-title">{{ 'GROUPS.ADD_USERS_GROUP' | translate }} {{groupName}}</h1>
        <div>
            <div class="govuk-form-group" id="search-form-group" [class.govuk-form-group--error]="searchSumbited && searchingUserName ===''">
                <label class="govuk-label" for="search"> {{ 'GROUPS.SEARCH_FOR_USER' | translate }} </label>
                <span id="first-name-error" class="govuk-error-message"
                *ngIf="searchSumbited && searchingUserName ===''">
                <span class="govuk-visually-hidden">{{ 'ERROR_PREFIX' | translate }}</span> {{ 'GROUPS.ERROR_REQ_EMAIL_OR_NAME' | translate }}
              </span>
                <app-search-box [(searchText)]="searchingUserName" (onSearchClickEvent)="onSearchClick()">
                </app-search-box>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="user-table">
            <app-govuk-table [headerTextKeys]="usersTableHeaders" [data]="userGridSource"
                [dataKeys]="usersColumnsToDisplay" [isCheckBoxVisible]="true"
                (checkBoxClickEvent)="onCheckBoxClickRow($event)" [isHyperLinkVisible]="false"
                [useServerPagination]="true" [serverPageCount]="pageCount" [serverPageCurrentPage]="currentPage"
                (changeCurrentPageEvent)="setPage($event)">
            </app-govuk-table>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group save-cancel-button-group">
            <button type="button" (click)="onContinueClick()" class="govuk-button" data-module="govuk-button">
                {{ 'GROUPS.CONTINUE_BTN' | translate }}
            </button>
            <div class="govuk-button-group save-cancel-button-group" >
                <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
                data-module="govuk-button" *ngIf="isEdit">
                {{ 'GROUPS.CANCEL_GO_GROUP_BTN' | translate }}
            </button>
            <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
                data-module="govuk-button" *ngIf="!isEdit">
                {{ 'GROUPS.GROUP_WITH_NO_ROLES' | translate }}
            </button>
        </div>
    </div>
</div>