app-org-support-details {
    input[type=radio] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        top: 4px;
        position: relative;
    }
    // input[type='radio']:checked:after {
    //     background-color: #ffa500;
    // }
}
.govuk-heading-xl {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    word-wrap: break-word;
    word-break: break-word; 
    max-width: 100%; 
    overflow-wrap: break-word;
  }