
<div class="content flex">

    <div class="govuk-form-group">
  
      <fieldset class="govuk-fieldset">
  
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
          {{'TWO_FACTOR_AUTHENTICATION' | translate}}<br>
        <label class = "govuk-mfa-label-text ">{{'CHOOSE_MFA_TYPE' | translate}}</label>
        </legend>
       
  
        <div class="govuk-radios">
  
          <div class="govuk-radios__item" id="authappRadioSelection">
            <input class="govuk-radios__input" type="radio" name="auth_app" value="QR" id="auth_app" [(ngModel)]="selectedOption">
            <label class="govuk-label govuk-radios__label mfa-label-text" for="auth_app">
              {{'AUTHENTICATOR_APP' | translate}} <br>
              <span class = "mfa-label-info-text">{{'AUTHENTICATOR_APP_INFO' | translate}}</span>
            </label>
  
          </div>
  
          <div class="govuk-radios__item" id="smsRadioSelection">
  
            <input class="govuk-radios__input" type="radio" name="auth_text" id="auth_text" value="MESSAGE" [(ngModel)]="selectedOption">
  
            <label class="govuk-label govuk-radios__label mfa-label-text" for="auth_text">
              {{'TEXT_MESSAGE' | translate}} <br>
              <span class = "mfa-label-info-text">{{'TEXT_MESSAGE_INFO' | translate}}</span>
            </label>
  
          </div>

          <div class="govuk-radios__item" id="noMfaSelection" *ngIf = "orgMfaOptional">
  
            <input class="govuk-radios__input" type="radio" name="no_auth_text" id="no_auth_text" value="NOAUTH" [(ngModel)]="selectedOption">
  
            <label class="govuk-label govuk-radios__label mfa-label-text" for="no_auth_text">
  
               {{'DONT_TURN_ON' | translate}}<br>
               <span class = "mfa-label-info-text">{{'DONT_TURN_ON_INFO' | translate}}</span> 
            </label>
  
          </div>
    
        </div>
  
      </fieldset>
  
    </div>
  
    <div class="govuk-button-group">
      <button type="button"  class="govuk-button"  (click)="onContinueClick(selectedOption)" data-module="govuk-button" [disabled] = !selectedOption>
          {{ 'CONTINUE_BTN' | translate }}
      </button>
      <button type="button" (click)="onCancelClick()" class="govuk-button govuk-button--secondary"
          data-module="govuk-button">
          {{ 'BACK_TO_LOGIN' | translate }}
      </button>
  </div>
  </div>