<div class="govuk-grid-row">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" routerLink="/home">
              {{ 'MANAGE_MY_ORG.ADMINISTRATOR_DASHBOARD' | translate}}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" routerLink="/manage-org/profile">{{ 'MANAGE_MY_ORG.MANAGE_YOUR_ORGANISATION' | translate
              }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link customlink" style="text-decoration: underline;" (click)="onSiteEditClick()">{{ 'MANAGE_MY_ORG.EDIT_SITE' | translate
            }}</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">{{ 'MANAGE_MY_ORG.ADD_CONT_TO_SITE' | translate}} {{siteInfo.siteName}}</a>
          </li>
        </ol>
      </div>
      <br><br>
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <h1 class="govuk-heading-xl page-title">
                {{ 'MANAGE_MY_ORG.ADD_CONT_TO_SITE' | translate}} {{siteInfo.siteName}}
            </h1>
            <!-- <h1 class="govuk-fieldset__heading">Select one option to continue</h1> -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        {{ 'MANAGE_MY_ORG.SELECT_ONE_OPTION_TO_CONTINUE' | translate}}
                      </h1>
                    </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item" id="Addcontact">
                        <input class="govuk-radios__input" type="radio" id="addcobtactbtn" value="addnewcontact"
                        [(ngModel)]="contactSelectedOption"  />
                        <label for="addcobtactbtn" class="govuk-label govuk-radios__label">
                          {{ 'MANAGE_MY_ORG.ADD_NEW_CONT' | translate}}
                        </label>
                    </div>
                    <div class="govuk-radios__item" id="assigncontact">
                        <input class="govuk-radios__input" type="radio" id="assigncontactbtn" value="findandassigncontact"
                          [(ngModel)]="contactSelectedOption"/>
                        <label for="assigncontactbtn" class="govuk-label govuk-radios__label">
                          {{ 'MANAGE_MY_ORG.FIND_ASS_CONTACT' | translate}}
                        </label>
                    </div>
                    <div class="govuk-radios__item" id="skip">
                        <input class="govuk-radios__input" type="radio" id="skipbtn" value="skip"
                        [(ngModel)]="contactSelectedOption"    />
                        <label for="skipbtn" class="govuk-label govuk-radios__label">
                          {{ 'MANAGE_MY_ORG.SKIP_ADD_CONTACT' | translate}}
                        </label>
                    </div>
                </div>
            </fieldset>
            </div>
            <div class="govuk-button-group save-cancel-button-group">
                <button id="continueButton" type="button" class="govuk-button" data-module="govuk-button"
                (click)="Continue(contactSelectedOption)">{{ 'MANAGE_MY_ORG.CONTINUE_BTN' | translate }}</button>

                <button  type="button" 
                class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="onSiteEditClick()">
                {{ 'MANAGE_MY_ORG.CANCEL_BTN' | translate }}
            </button>
            </div>
        </div>
    </div>
</div>