<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <p class="govuk-body-l text-align">
    {{ "REGISTRATION.REG_NOMINATE_EMAIL_SUC_PARA_1" | translate }} {{emailAddress}} {{ "REGISTRATION.REG_NOMINATE_EMAIL_SUC_PARA_2" | translate }}</p>
  <p>
  <p class="govuk-body">
    {{ "REGISTRATION.REG_NOMINATE_EMAIL_SUC_PARA_3" | translate }}</p>
  <p>
    <a class="navigation-text" href="https://www.crowncommercial.gov.uk">{{ "REGISTRATION.NOT_REG_RET_LINK" | translate }}</a>
  </p>
</div>