<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <p class="govuk-body-l">
    An email has been sent to {{emailAddress}} to register the organisation.</p>
  <p>
  <p class="govuk-body">
    This person will be required to complete the organisation registration process before you can continue with your sign up process.</p>
  <p>
    <a class="navigation-text" href="https://www.crowncommercial.gov.uk">Return to the Crown Commercial Services homepage</a>
  </p>
</div>