<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <h1 class="govuk-heading-xl page-title" class="text-align">An email has been sent to {{orgName}} to notify them of your request
                for access</h1>
            <p>Once access has been granted you will be able to continue creating your account</p>
            <a class="navigation-text" href="https://www.crowncommercial.gov.uk">Return to the Crown Commercial Services homepage</a>
        </div>
    </div>
</div>