<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="content flex">
            <h1 class="govuk-heading-xl page-title" class="text-align">{{ 'REGISTRATION.REG_NOMINATE_EMAIL_SUC_PARA_1' | translate }} {{orgName}} {{ 'REGISTRATION.REG_ADMIN_NOTIFY_HEADER' | translate }} 
                </h1>
            <p>{{ 'REGISTRATION.REG_ADMIN_NOTIFY_PARA' | translate }}</p>
            <a class="navigation-text" href="https://www.crowncommercial.gov.uk">{{ 'REGISTRATION.NOT_REG_RET_LINK' | translate }}</a>
        </div>
    </div>
</div>