<div class="content flex">
  <h1 class="govuk-heading-xl page-title">{{ 'MANAGE_SER.UNEXPECT_ERROR' | translate}}</h1>
  <!-- <p><a routerLink="/manage-org/profile/{{organisationId}}/registry/search">Search with a different organisation ID</a></p> -->
  <!-- <p><a (click)="goBack()">Search with a different organisation ID</a></p> -->
  <p><a href="https://www.crowncommercial.gov.uk/contact" target="_blank">{{ 'MANAGE_SER.CONTACT_CCS' | translate}}</a></p>
  <p><a routerLink="/buyer/search">{{ 'MANAGE_SER.BACK' | translate}}</a></p>
</div>
